﻿<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.information">معلومات</a></li>
<li allowed="WebsiteAdmin,WebsiteManager" class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.subscribingType">الاشتراك</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.map">الخريطة</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.menus">القوائم</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.users">المستخدمين</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.photos">الصور</a></li>
<li  class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="restaurants.profile.coupons">القسائم</a></li>
