﻿
    <div class="block-header">
     <!--   <h2>Restaurant Profile <small>Profile and Manage the restaurant  </small></h2>-->
        <h2>تفاصيل المطعم <small>اعدادات وادارة المطعم  </small></h2>

    </div>

    <div class="card" id="profile-main" >
        <div class="pm-overview c-overflow">
            <div class="pmo-pic">
                <div class="p-relative">
                    <a href="">
                        <img class="img-responsive" src="{{vm.dataUrl}}" alt="">
                    </a>

                    <div class="dropdown pmop-message" uib-dropdown>
                        <div class="dropdown-menu stop-propagate">
                            <textarea placeholder="Write something..."></textarea>
                            <button class="btn bgm-green btn-float"><i class="zmdi zmdi-mail-send"></i></button>
                        </div>
                    </div>

                    <div href="" class="pmop-edit">
                        <i translate="UploadLogo"  class="zmdi zmdi-camera"></i> <span class="hidden-xs"></span>
                        <input type="file" dr-on-change="vm.onFile" id="step1upload"  />
                    </div>
                </div>


              
            </div>

            <div class="pmo-block pmo-contact hidden-xs">
                <h2>معلومات الاتصال</h2>

                <ul>
                    <li ng-show="!!vm.restaurantInfo.phoneNumber1"><i class="zmdi zmdi-phone"></i> {{ vm.restaurantInfo.phoneNumber1 }}</li>
                    <li ng-show="!!vm.restaurantInfo.phoneNumber2" ><i class="zmdi zmdi-phone"></i> {{ vm.restaurantInfo.phoneNumber2  }}</li>
                    <li ng-show="!!vm.restaurantInfo.email"> <i class="zmdi zmdi-email"></i> {{ vm.restaurantInfo.email  }}</li>
                    <li ng-show="!!vm.restaurantInfo.country"><i class="zmdi zmdi-pin"></i> {{ vm.restaurantInfo.country}}</li>
                    <li ng-show="!!vm.restaurantInfo.addressArabic">
                        <i class="zmdi zmdi-pin"></i>
                        <address class="m-b-0">
                            {{ vm.restaurantInfo.addressArabic  }}
                        </address>
                    </li>
                </ul>
            </div>

            
        </div>

        <div class="pm-body clearfix">
            <ul class="tab-nav tn-justified" data-ng-include="'app/views/restaurants/restaurantProfile/profile-menu.html'"></ul>

            <data ui-view="details"></data>
        </div>
    </div>
