
       	<div class="col-md-6">
			<div  class="box_style_2" id="order_process">
				<h2 class="inner" translate="Profile.MyAddress">عنواني </h2>
                            <div ng-hide="vm.editData">
			            		<h4 class="nomargin_top" translate="Profile.MyAddress"> من فضلك تأكد من ادخال عنوانك الصحيح والكامل حتى يتم التوصيل اليه <i class="icon_clock_alt pull-right"></i></h4>
			            		<ul class="opening_list">
			            		<li > <b translate="Profile.Address"></b><span ng-bind='vm.user.fullAddress'></span></li>
								</ul>
                                <br>
                              <button ng-click="vm.editData=true"  class="btn_1 add_bottom_15" translate="Profile.Update"> تعديل </button>
                                
			                </div>
                <div ng-show="vm.editData">
                    <form ng-submit="vm.submit(vm.user)">
				<div class="form-group">
					<label translate="Profile.Address">العنوان </label>
					<textarea rows="4" ng-model="vm.user.fullAddress" type="text" id="address_order" name="address_order" class="form-control" ></textarea>
				</div>
                  <button type="submit" class="btn_1 add_bottom_15" translate="Profile.Save"> حفظ </button>

                </form>
				</div>
				<hr>
				<div class="row">
				</div>
				
			</div>
			<!-- End box_style_1 -->
		</div>
		<!-- End col-md-6 -->
      