/*
 * Following CSS codes are used only for demo purpose thus you can remove them completly whenever you want. 
 */

.toggle-switch .ts-label {
    min-width: 130px;
}

.media-demo .media {
    margin-bottom: 25px;
}

.media-demo .media .media {
    margin-top: 25px;
}

.dropdown-basic-demo {
    display: inline-block;
    margin: 0 15px 20px 0;
}

.dropdown-basic-demo .dropdown-menu {
    display: block;
    position: relative;
    transform: scale(1);
    opacity: 1;
    filter: alpha(opacity=1);
    z-index: 0;
}

.dropdown-btn-demo .dropdown, .dropdown-btn-demo .btn-group, .btn-demo .btn {
    display: inline-block;
    margin: 0 5px 7px 0;
}

.modal-preview-demo .modal {
    position: relative; 
    display: block; 
    z-index: 0; 
    background: rgba(0,0,0,0.1);
}

.margin-bottom > *{
    margin-bottom: 20px;
}

.popover-demo .popover {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin: 0 10px 30px;
    z-index: 0;
}

.color-block {
    height: 100px;
    color: rgba(255,255,255,0.9);
    text-align: center;
    padding: 15px 0;
    border-radius: 2px;
    margin-bottom: 25px;
}

.color-block span {
    display: block;
}

.color-block .color {
    font-size: 14px;
    text-transform: uppercase;
}

.color-block .code {
    margin: 5px 0;
}

.color-block .less {
    font-size: 11px;
}

.animation-demo .row {
    margin: 25px -6px 0;
    margin-bottom: -10px;
}

.animation-demo .card-body img {
    width: 100%;
    z-index: 1;
    position: relative;
}

.animation-demo .col-xs-6 {
    padding: 0 6px;
    margin-bottom: 12px;
}

.animation-demo .btn {
    width: 100%;
    text-transform: none;
}

.bs-item {
    background: #fff;
    margin-bottom: 30px;
    height: 100px;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
}

.bs-item:before {
    display: inline-block;
    content: "";
    height: 100px;
    width: 1px;
    vertical-align: middle;
}

.btn-colors > .btn {
    min-width: 112px;
}

.btn-demo > .btn, .btn-group-demo > .btn-group {
    margin: 0 5px 10px 0;
}



.icons-demo .card-body .zmdi, .card-body .socicon {
    font-size: 23px;
    vertical-align: middle;
    color: #333;
    margin-left: 10px;
}

.icons-demo .card-body .col-sm-4 {
    padding: 0 7px;
}

.icons-demo .card-body .col-sm-4 p {
    padding: 8px;
    border-radius: 2px;
    margin-bottom: 0;
}

.icons-demo .card-body .col-sm-4 p:hover {
    background: #eee;
    cursor: pointer;
}

.notifications .btn {
    width: 100%;
    margin-bottom: 20px;
}

.datepicker-demo .dd-block {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 25px;
    vertical-align: top;
}
