<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400"
	data-natural-height="350">
	<div id="subheader">
		<div id="sub_content">
			<h1>ارسال الطلب</h1>
			<div class="bs-wizard">
				<div class="col-xs-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum"><strong>1.</strong> <span translate="Restaurnts.Information"></span></div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="" class="bs-wizard-dot"></a>
				</div>

				<div class="col-xs-4 bs-wizard-step active">
					<div class="text-center bs-wizard-stepnum"><strong>2.</strong> <span translate="Restaurnts.PaymentMethod"></span></div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="" class="bs-wizard-dot"></a>
				</div>

				<div class="col-xs-4 bs-wizard-step disabled">
					<div class="text-center bs-wizard-stepnum"><strong>3.</strong> <span translate="Restaurnts.DeliveryTheMeal"></span></div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="" class="bs-wizard-dot"></a>
				</div>
			</div>
			<!-- End bs-wizard -->
		</div>
		<!-- End sub_content -->
	</div>
	<!-- End subheader -->
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
	<div class="container">
		<ul>
			<li><a ui-sref='main' href="" translate="Position.MainPage">الصفحة الرئيسية</a></li>
			<li><a href="" translate="Position.Restaurants">المطاعم</a></li>
			<li translate="Position.PaymentMethod"> معلوماتك الشخصية</li>
		</ul>
	</div>
</div>
<!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
	<div class="row">
		<div class="col-md-3">
			   <div class="box_style_2 hidden-xs info">
                <h4 class="nomargin_top" ><span translate="GeneralMessages.OtlobleeFreeServices"></span>   <i class="icon_clock_alt pull-right"></i></h4>
                <p translate="GeneralMessages.OtlobleeFreeServices">
                </p>
                <hr>
                <h4><span translate="GeneralMessages.MobileApplication"> </span><i class="icon-mobile pull-right"></i></h4>
                <p >
                    <span translate="GeneralMessages.MobileApplicationMsg"></span>
                    <div class="row" style="text-align:center">
                        <a href="" style="color:black;font-size:40px"><i class="icon-android-1 "></i></a>
                        <a href="" style="color:black;font-size:40px"><i class="icon-apple"></i></a>
                    </div>
                </p>

            </div>
			<!-- End box_style_2 -->

			<div class="box_style_2 hidden-xs" id="help">
				<i class="icon_lifesaver"></i>
				<h4>Need <span>Help?</span></h4>
				<a href="tel://004542344599" class="phone">+45 423 445 99</a>
				<small>Monday to Friday 9.00am - 7.30pm</small>
			</div>
		</div>
		<!-- End col-md-3 -->
		<form ng-submit="vm.sentOrder(vm.payment)">
			<div class="col-md-6">
				<div class="box_style_2" ng-init="vm.payment.paymentType=Cash">
					<h2 class="inner" translate="Restaurnts.CheckOut.PreferedPay">كيف تفضل ان تدفع؟</h2>
					<div class="payment_select">
						<label><input ng-model="vm.payment.paymentType" value="AtmCard" type="radio"  name="payment_method" class="icheck"> <span translate="Restaurnts.CheckOut.ATMCard"></span> </label>
						<i class="icon_creditcard"></i>
					</div>

					<div class="payment_select nomargin">
						<label><input ng-model="vm.payment.paymentType" ng-value="Cash" type="radio" checked="checked" ng-selected="Cash"  name="payment_method" class="icheck">  <span translate="Restaurnts.CheckOut.Cash"></span> </label>
						<i class="icon_wallet"></i>
					</div>
				</div>
				<!-- End box_style_1 -->
			<div class="box_style_2" id="order_process">
				<h2 class="inner" translate="Restaurnts.CheckOut.Coupone"> </h2>
				<div class="form-group">
					<label translate="Restaurnts.CheckOut.Coupone"> </label>
					<input ng-model="vm.user.firstName" type="text" class="form-control" id="firstname_order" name="firstname_order" placeholder=" ">
				</div>
			<div class="row">
				<a translate="Restaurnts.CheckOut.CheckCoupone" ng-click="vm.checkCopupon()" ng-model="vm.coupon" class="btn_1 add_bottom_15">  </a>
			</div>
			</div>
			<!-- End box_style_1 -->
			</div>
			<!-- End col-md-6 -->
		
			<div class="col-md-3" id="sidebar">
				<div class="theiaStickySidebar">
					<div id="cart_box">
						<h3><span translate="Restaurnts.Menu.DeliveryPrice"></span> <i class="icon_cart_alt pull-right"></i></h3>
						<table class="table table_summary">
							<tbody>
								<tr ng-repeat="order in vm.bill.orders">
									<td>
										<strong>{{order.count}}x</strong> {{order.nameArabic}}
									</td>
									<td>
										<strong class="pull-right"> {{vm.bill.currency}} {{order.price}} </strong>
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<table class="table table_summary">
							<tbody>
								<tr>
									<td>
										<span translate="Restaurnts.Menu.Subtotal">قيمة طلبك</span><span class="pull-right">  {{vm.bill.currency}}  {{vm.bill.subTotal}}  </span>
									</td>
								</tr>
								<tr>
									<td>
										<span translate="Restaurnts.Menu.DeliveryPrice">سعر التوصيل</span> <span class="pull-right">  {{vm.bill.currency}}  {{vm.bill.deliveryFees}}  </span>
									</td>
								</tr>
								<tr>
									<td class="total">
										<span translate="Restaurnts.Menu.Total">المجموع الكلي</span><span class="pull-right">  {{vm.bill.currency}}  {{vm.bill.total}}  </span>
									</td>
								</tr>
							</tbody>
						</table>
						<hr>
						<button type="submit" class="btn_full" translate="Restaurnts.Menu.SendOrder">ارسال الطلب</button>
					</div>
					<!-- End cart_box -->





				</div>
				<!-- End theiaStickySidebar -->
			</div>
			<!-- End col-md-3 -->
		</form>
	</div>
	<!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->