<div   class="col-md-6">
				<div class="box_style_2" id="order_process">
                    <form ng-submit="vm.submitCode(vm.user)">
                        <h2 class="inner" translate="UserManagement.MobileActivationPage"></h2>

                        <div class="form-group">
                            <label translate="UserManagement.Mobile"></label>
                            <input ng-model="vm.user.phoneNumber"  type="text" class="form-control" id="userName_order" name="userName_order"  required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.Code"> </label>
                            <input  ng-model="vm.user.mobileCode" type="text" class="form-control" id="firstname_order" name="firstname_order"  required>
                            <a href="" class="" ng-click="vm.resendCode()" translate="UserManagement.ResendCode">اعادة ارسال</a>
                        </div>
                      
                        <div class="row">
                        </div>
                        <hr>
                        <button type="submit" class="btn_full" >	<i class="icon-ok-outline"></i> ارسال</button>
                    </form>
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->