﻿<!--<div class="ngdialog-titlebar">
    <h3 translate="Pages.Admin.Restaurants.AddNewRestaurant" class="ngdialog-title"></h3>
</div>
<div ng-init="showAddMeal=true">
    <br />
    <form data-ng-submit="vm.submit(mealModel)" class="pmbb-edit">
        <div class="col-sm-6">
            <div class="input-group">
                <div class="fg-line">
                    <input type="text" ng-model="mealModel.nameArabic" class="form-control" placeholder="{{ 'ArabicName' | translate }}" required>
                </div>
            </div>
            <div class="input-group">
                <div class="fg-line">
                    <input type="text" ng-model="mealModel.nameEnglish" class=" form-control" placeholder="{{ 'EnglishName' | translate }}" required>
                </div>
            </div>

            <div class="input-group">
                <div class="fg-line">
                    <input type="text" ng-model="mealModel.phoneNumber1" class=" form-control" placeholder="{{ 'PhoneNumber1' | translate }}" required>
                </div>
            </div>
            <div class="input-group">
                <div class="fg-line">
                    <input type="text" ng-model="mealModel.email" class=" form-control" placeholder="{{ 'Email' | translate }}" required>
                </div>
            </div>
            <div class="input-group">
                <div class="fg-line">
                    <span translate="Country" class="p-t-10">Country</span>
                    <select data-ng-model="mealModel.country" class="form-control"  required>
                        <option>السعودية</option>
                        <option>الامارات</option>
                        <option>الكويت</option>
                        <option>تركيا</option>
                    </select>
                </div>
            </div>
            <div class="m-t-30">
                <a translate="Cancel" ng-click="closeThisDialog()" class="btn btn-primary btn-sm"></a>
                <button translate="Add" class="btn btn-primary btn-sm" type="submit"></button>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group">
                <div class="fg-line">
                    <select data-ng-model="mealModel.feesPaymentType" class="form-control" required>
                        <option >حساب على كل طلب</option>
                        <option>اشتراك شهري</option>
                    </select>
                </div>
            </div>
            <div class="input-group">
                <div class="fg-line">
                    <input type="text" ng-model="mealModel.fees" class=" form-control" placeholder="{{ 'Fees' | translate }}" required>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="ngdialog-buttons">
</div>-->


<div class="card">
    <div class="card-header">
        <h2 translate="Pages.Admin.Restaurants.AddNewRestaurant">Input Text </h2>
    </div>

    <div class="card-body card-padding">
        <p class="c-black f-500">يرجى ادخال جميع الحقول, جميل الحقول اجبارية</p>
        <form data-ng-submit="vm.submit(modal)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.nameArabic" class="form-control" placeholder="{{ 'ArabicName' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.nameEnglish" class="form-control" placeholder="{{ 'EnglishName' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <p translate="Country" class="f-500 c-black m-b-10"></p>
                    <select ng-model="modal.country" class="w-100">
                        <option ng-repeat="country in vm.countries"
                                value="{{country.Value}}">
                            {{country.DisplayName}}
                        </option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <p translate="FeesPaymentType" class="c-black f-500 m-b-10"></p>
                    <select ng-model="modal.feesPaymentType" class="w-100">
                        <option value="PerMeal">حساب على عدد الوجبات</option>
                        <option value="Monthly">اشتراك شهري</option>
                    </select>
                </div>
                <div class="col-sm-6  m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.email" class="form-control" placeholder="{{ 'Email' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.fees" class="form-control" placeholder="{{ 'Fees' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.phoneNumber1" class="form-control" placeholder="{{ 'PhoneNumber1' | translate }}" required>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-sm-2  m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <button class="btn btn-primary waves-effect" type="submit" translate="Add"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>







