﻿<ul class="header-inner clearfix">
    <li id="menu-trigger" data-target="mainmenu" data-toggle-sidebar data-model-left="mactrl.sidebarToggle.left" data-ng-class="{ 'open': mactrl.sidebarToggle.left === true }">
        <div class="line-wrap">
            <div class="line top"></div>
            <div class="line center"></div>
            <div class="line bottom"></div>
        </div>
    </li>

    <li class="logo hidden-xs">
        <a data-ui-sref="home" data-ng-click="hctrl.sidebarStat($event)">Otloblee</a>
    </li>

    <li class="pull-right">
        <ul class="top-menu">

            <!--<li id="toggle-width">
                <div class="toggle-switch">
                    <input id="tw-switch" type="checkbox" hidden="hidden" data-change-layout="hctrl.layoutType">
                    <label for="tw-switch" class="ts-helper"></label>
                </div>
            </li>-->
            <li id="Logout">
                <a href="" data-ng-click="hctrl.logout()"><i class="tm-icon zmdi zmdi-square-right"></i></a>
            </li>
            <li id="top-search">
                <a href="" data-ng-click="hctrl.openSearch()"><i class="tm-icon zmdi zmdi-search"></i></a>
            </li>
        
            <li class="dropdown" uib-dropdown>
                <a uib-dropdown-toggle href="">
                    <i class="tm-icon zmdi zmdi-notifications"></i>
                    <i class="tmn-counts">0</i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg stop-propagate pull-right">
                    <div  class="listview" id="notifications">
                        <div class="lv-header">
                            <span>الإشعارات</span>

                                               </div>
                        <div class="lv-body">
                                 لا يوجد اشعارات في الوقت الحالي
                        </div>
                        <br />
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
            
            
            
        </ul>
    </li>
</ul>

<!-- Top Search Content -->
<div id="top-search-wrap">
    <div class="tsw-inner">
        <i id="top-search-close" class="zmdi zmdi-arrow-left" data-ng-click="hctrl.closeSearch()"></i>
        <input type="text">
    </div>
</div>
