﻿<div class="ngdialog-titlebar">
    <h3 translate="Pages.Admin.Restaurants.AddNewMeal" class="ngdialog-title"></h3>
</div>
    <div ng-init="showAddMeal=true" >
        <br />
        <form data-ng-submit="vm.submit(vm.mealModel)" class="pmbb-edit">
            <div class="col-sm-6">
                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" ng-model="vm.mealModel.nameArabic" class="form-control" placeholder="{{ 'ArabicName' | translate }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" ng-model="vm.mealModel.nameEnglish" class=" form-control" placeholder="{{ 'EnglishName' | translate }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" ng-model="vm.mealModel.descriptionArabic" class=" form-control" placeholder="{{ 'DescriptionArabic' | translate }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" ng-model="vm.mealModel.descriptionEnglish" class=" form-control" placeholder="{{ 'DescriptionEnglish' | translate }}" required>
                    </div>
                </div>
                <div class="input-group">
                    <div class="fg-line">
                        <input type="text" ng-model="vm.mealModel.price" class=" form-control" placeholder="{{ 'Price' | translate }}" required>
                    </div>
                </div>
                <div class="m-t-30">
                    <a translate="Cancel" ng-click="closeThisDialog()" class="btn btn-primary btn-sm"></a>
                    <button translate="Save" class="btn btn-primary btn-sm" type="submit"></button>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="input-group">
                    <div class="fg-line">
                        <input type="file" dr-on-change="vm.onFile" id="step1upload" required />
                    </div>
                </div>
                <div class="input-group">
                    <div class="fg-line">
                        <img ng-src="{{vm.dataUrl}}" style="max-width: 200px;max-height: 300px" />
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="ngdialog-buttons">
    </div>
