<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-header">
        <a ui-sref="championshipApp.drivers" class="navbar-brand"><span class="brand-title">{{vm.navline.title}}</span></a>
        <a class="btn navbar-btn navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
    </div>
    <div class="navbar-collapse collapse">
        <div class="pull-right navbar-logo">
            <div ui-view="header" class="brand-title"></div>
            <!--<ul class="nav navbar-nav pull-right">
                <li>
                    <a ng-href="{{vm.navline.link}}" target="_blank">
                        {{vm.navline.text}}
                    </a>
                </li>
                <li class="dropdown dropdown-big">
                    <a href="http://www.angularjs.org" target="_blank">
                        <img src="images/AngularJS-small.png" />
                    </a>
                </li>
                 
             
            </ul>-->
        </div>
    </div>
</nav>
