<div ui-view="all" ng-controller="ShellController as mactrl">
    <header class="clearfix">
        <div ui-view="header"></div>

    </header>

    <section id="main">
        <section id="content" class="content">
            <div ui-view="content" class="container">
            </div>

            <!--<div ngplus-overlay
                 ngplus-overlay-delay-in="50"
                 ngplus-overlay-delay-out="700"
                 ngplus-overlay-animation="dissolve-animation">
                <img src="images/busy.gif" />
                <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
            </div>-->
        </section>
        <div ui-view="footer">
        </div>
    </section>
</div>

