<div class="not-found">
    <div class="text-center">
        <img src="images/404/error-img.png" title="error" />
        <p><span><label>O</label>hh.....</span>You Requested the page that is no longer There.</p>
        <a ui-sref="drivers({})">Back To Home</a>
    </div>
</div>
