<div ui-view="all" ng-controller="ShellController as mactrl">
  <!--[if lte IE 8]>
        <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>.</p>
    <![endif]-->
    
 
	
    <header class="clearfix">
        <div ng-controller="headerController as vm" ui-view="header"></div>

    </header>
    <div ui-view="content" >
    </div>
    <div ui-view="footer">
    </div>
</div>

