﻿<div class="pmb-block clearfix photos">
    <div class="p-header">
        <ul class="p-menu">
            <li class="active"><a href=""><i class="zmdi zmdi-image"></i> الصور</a></li>
        </ul>
    </div>

    <form ng-submit="vm.addImage()">
        <div class="row">
            <div class="input-group">
                <div class="fg-line">
                    <input style="float:right;" type="file" dr-on-change="vm.onFile" id="step1upload" required />
                    <button style="float:right;" type="submit" class="btn  btn-danger"><i class="zmdi zmdi-plus"></i>اضافة</button>

                </div>
            </div>
        </div>
    </form><br>
    <div class="clearfix"></div>
    <div class="lightbox row">
        <div ng-repeat="photo in vm.photos" on-finish-render="vm.initPhotoViewer()" data-src="{{vm.prefix + photo.id}}" class="col-md-3 col-sm-4 col-xs-6">
            <div class="lightbox-item p-item">
                <img data-ng-src="{{vm.prefix + photo.id}}" alt="" />
            </div>
        </div>
    </div>

    <div class="clearfix"></div>


</div>