﻿
    <div class="block-header">
        <h2>لوحة التحكم</h2>
    </div>
<div id="AdminViews" allowed="WebsiteAdmin">
    <div class="card">
        <div class="card-header">
            <h2>معدل الطلبات يوميا <small>معدل الطلبات المرسلة يوميا من جميع المطاعم</small></h2>


        </div>

        <div class="card-body">
            <div class="chart-edge">
                <div class="flot-chart" data-curvedline-chart></div>
            </div>
        </div>
    </div>

    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-cyan">
                    <div class="clearfix">
                        <div class="chart stats-bar" data-sparkline-bar></div>
                        <div class="count">
                            <small>عدد الزوار</small>
                            <h2>987,459</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-lightgreen">
                    <div class="clearfix">
                        <div class="chart stats-bar-2" data-sparkline-bar></div>
                        <div class="count">
                            <small>عدد المطاعم</small>
                            <h2>356,785</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-orange">
                    <div class="clearfix">
                        <div class="chart stats-line" data-sparkline-line></div>
                        <div class="count">
                            <small>عدد الطلبات الكلي</small>
                            <h2> 458,778</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="mini-charts-item bgm-bluegray">
                    <div class="clearfix">
                        <div class="chart stats-line-2" data-sparkline-line></div>
                        <div class="count">
                            <small>عدد المستخدمين</small>
                            <h2>23,856</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dash-widgets">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div id="site-visits" class="dash-widget-item bgm-teal">
                    <div class="dash-widget-header">
                        <div class="p-20">
                            <div class="dash-widget-visits" data-sparkline-line></div>
                        </div>

                        <div class="dash-widget-title">احصائيات اخر 30 يوم</div>

                        <ul class="actions actions-alt">
                            <li class="dropdown" uib-dropdown>
                                <a href="" uib-dropdown-toggle>
                                    <i class="zmdi zmdi-more-vert"></i>
                                </a>


                            </li>
                        </ul>
                    </div>

                    <div class="p-20">

                        <small>عدد الطلبات</small>
                        <h3 class="m-0 f-400">47,896,536</h3>

                        <br />

                        <small>عدد الزوار</small>
                        <h3 class="m-0 f-400">24,456,799</h3>

                        <br />

                        <small>عدد المطاعم المضافة</small>
                        <h3 class="m-0 f-400">13,965</h3>
                    </div>
                </div>
            </div>



          


        </div>
    </div>
</div>