<div class="col-md-6">
	<div class="box_style_2" id="order_process">
		<h2 class="inner" translate="Profile.YourInfo">معلوماتك الشخصية</h2>
		<div ng-hide="vm.editData">
		<ul class="opening_list">
			<li > <b translate="Profile.FirstName"></b><span ng-bind='vm.user.firstName'></span></li>
			<li><b translate="Profile.Surname"></b><span ng-bind='vm.user.lastName'></span></li>
			<li><b translate="Profile.Email"></b>  <span ng-bind='vm.user.email'></span></li>
			<li><b translate="Profile.Mobile"></b><span ng-bind='vm.user.phoneNumber'></span></li>
		</ul>

		<hr>
		<div class="row">
			<button ng-click="vm.editData=true" class="btn_1 add_bottom_15" translate="Profile.Update"> تعديل </button>
		</div>
		</div>

		<div ng-show="vm.editData">
			<form ng-submit="vm.submit(vm.user)"> 
				<div class="form-group">
					<label translate="Profile.FirstName">الاسم الاول</label>
					<input ng-model="vm.user.firstName" type="text" class="form-control" id="firstname_order" name="firstname_order" placeholder="الاسم الاول">
				</div>
				<div class="form-group">
					<label translate="Profile.Surname"> الكنية</label>
					<input ng-model="vm.user.lastName" type="text" class="form-control" id="lastname_order" name="lastname_order" placeholder="الكنية">
				</div>
				<div class="form-group">
					<label translate="Profile.Mobile">رقم الجوال</label>
					<input ng-model="vm.user.phoneNumber" type="text" id="tel_order" name="tel_order" class="form-control" placeholder="رقم الجوال">
				</div>
				<div class="form-group">
					<label translate="Profile.Email">البريد الالكتروني</label>
					<input ng-model="vm.user.email" type="email" id="email_booking_2" name="email_order" class="form-control" placeholder="البريد الالكتروني">
				</div>
			<hr>
			<div class="row">
				<button translate="Profile.Save" type="submit" class="btn_1 add_bottom_15"> حفظ </button>
			</div>
			</form>
			
		</div>




	</div>
	<!-- End box_style_1 -->
</div>
<!-- End col-md-6 -->