﻿<ng-map default-style="true" center="[40.74, -74.18]" styles='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]'>
    <info-window id="bar">
        <div class="marker_info" id="marker_info">
            <img src="{{vm.resturantInfo.logo}}" alt="" />
            <h3>{{vm.resturantInfo.nameArabic}}</h3>
            <em> {{vm.resturantInfo.foodType}}/{{vm.resturantInfo.restaurantType}}</em>
            <span>item.address</span>
            <a href="{{vm.resturantInfo.url_point}}" class="btn_1">Details</a>
        </div>
    </info-window>
    <marker ng-repeat="pos in  vm.positions" position="{{pos.gpsLat +',' + pos.gpsLng}}"
            optimized="false" on-click="vm.showStore(event,pos.restid)"
            icon="{url:'img/pins/1.png'}"></marker>
</ng-map>
