﻿<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400"
    data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1><span ng-bind="vm.restaurantCount"></span> <span translate="Restaurnts.WeFoundThisAmountOfRestaurants"></span></h1>
            <div><i class="icon_pin"></i> <span translate="Restaurnts.WeFoundThisAmountOfRestaurantsComment"></span></div>
        </div>
        <!-- End sub_content -->
    </div>
    <!-- End subheader -->
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->
<div id="position">
    <div class="container">
        <ul>
            <li><a href="#0" translate="Position.MainPage">الصفحة الرئيسية</a></li>
            <li><a href="" translate="Position.Restaurants">المطاعم</a></li>
        </ul>
    </div>
</div>
<!-- Position -->
<style>
    #map {
        width: 100%;
        height: 100%;
    }
</style>
<div ng-show='showMapbox'>
    <div>

        <ng-map default-style="true" center="{{vm.currentLocation}}" styles='[{"featureType":"landscape","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]'>
            <info-window id="bar">
                <div ng-cloak class="marker_info" id="marker_info">
                    <h3>{{vm.resturantInfo.nameArabic}}</h3>
                    <em> {{vm.resturantInfo.foodType}}/{{vm.resturantInfo.restaurantType}}</em>
                    <span>{{vm.resturantInfo.fullAddress}}</span>
                    <a ng-if="restaurant.menus.length > 0" href="" ui-sref="restaurants.menu({ restaurantID : vm.resturantInfo.id})" class="btn_1" translate="Restaurnts.ViewMenu"></a>
                </div>
            </info-window>
            <marker ng-repeat="pos in  vm.positions" position="{{pos.gpsLat +',' + pos.gpsLng}}" optimized="false" on-click="vm.showStore(event,pos.restid)"
                icon="{url:'img/pins/1.png'}"></marker>
        </ng-map>

    </div>
</div>
<!-- End Map -->

<!-- Content ================================================== -->
<div class="container margin_60_35" ng-cloak>

    <div class="row">
        <div class="col-md-3">
            <p>
                <a class="btn_map" href="" ng-click='showMapbox = !showMapbox' ><span translate="Restaurnts.ShowMap"></span> </a>
            </p>
            <div id="filters_col">
                <a id="filters_col_bt" translate="Restaurnts.Filter">التصفية </a>
                <div id="collapseFilters">
                    <div class="filter_type">
                        <h6 translate="Restaurnts.Distance">المسافة</h6>
                        <input type="text" id="range" value="" name="range">
                        <h6 translate="Restaurnts.FoodType"> </h6>
                        <ul ng-init="foodType=1">
                            <li><label><input value="1" name="foodType" ng-change="vm.changeTypeFilter('All')" ng-model="foodType" type="radio" checked='checked' class="" > <span  translate="Restaurnts.All"></span> </label></li>
                            <!-- <li ng-repeat="type in vm.foodTypes"><label><input  name="foodType" type="radio" class="icheck">{{type.nameArabic}} </label><i class="color_7"></i></li> -->
                            <li><label><input ng-change="vm.changeTypeFilter('Fast Food')" ng-model="foodType" value="fastfood" name="foodType" type="radio"  >   <span  translate="Restaurnts.FastFood"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-change="vm.changeTypeFilter('Pizza')" ng-model="foodType" name="foodType" type="radio"  >  <span  translate="Restaurnts.Pizza"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeTypeFilter('Spagitti')" name="foodType" type="radio" class="" > <span  translate="Restaurnts.Spaghetti"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeTypeFilter('BBQ')" name="foodType" type="radio" class=""  >  <span  translate="Restaurnts.Grills"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeTypeFilter('Drinks')" name="foodType" type="radio" class=""  >  <span  translate="Restaurnts.Drinks"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeTypeFilter('Cooking')" name="foodType" type="radio" class=""  >  <span  translate="Restaurnts.Cooking"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeTypeFilter('Pastry')" name="foodType" type="radio" class=""  >  <span  translate="Restaurnts.Pastry"></span> </label>
                                <i class="color_7"></i>
                            </li>
                        </ul>
                        <h6 translate="Restaurnts.RestaurantType">نوع المطعم</h6>
                        <ul ng-init=restaurantType=1>
                            <li><label><input value="1" name="restaurantType" ng-change="vm.changeRestaurantTypeFilter('All')" ng-model="restaurantType" type="radio" checked='checked' class="" > <span  translate="Restaurnts.All"></span> </label></li>
                            <!-- <li ng-repeat="type in vm.foodTypes"><label><input  name="restaurantType" type="radio" class="icheck">{{type.nameArabic}} </label><i class="color_7"></i></li> -->
                            <li><label><input ng-change="vm.changeRestaurantTypeFilter('Saudia')" ng-model="restaurantType" value="fastfood" name="restaurantType" type="radio"  >   <span  translate="Restaurnts.Saudia"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-change="vm.changeRestaurantTypeFilter('Syria')" ng-model="restaurantType" name="restaurantType" type="radio"  >  <span  translate="Restaurnts.Syria"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeRestaurantTypeFilter('Lebanon')" name="restaurantType" type="radio" class="" > <span  translate="Restaurnts.Lebanon"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeRestaurantTypeFilter('Amirican')" name="restaurantType" type="radio" class=""  >  <span  translate="Restaurnts.Amirican"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeRestaurantTypeFilter('Jordan')" name="restaurantType" type="radio" class=""  >  <span  translate="Restaurnts.Jordan"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeRestaurantTypeFilter('Egypt')" name="restaurantType" type="radio" class=""  >  <span  translate="Restaurnts.Egypt"></span> </label>
                                <i class="color_7"></i>
                            </li>
                            <li><label><input ng-click="vm.changeRestaurantTypeFilter('Italia')" name="restaurantType" type="radio" class=""  >  <span  translate="Restaurnts.Italia"></span> </label>
                                <i class="color_7"></i>
                            </li>
                             <li><label><input ng-click="vm.changeRestaurantTypeFilter('India')" name="restaurantType" type="radio" class=""  >  <span  translate="Restaurnts.India"></span> </label>
                                <i class="color_7"></i>
                            </li>
                             <li><label><input ng-click="vm.changeRestaurantTypeFilter('China')" name="restaurantType" type="radio" class=""  >  <span  translate="Restaurnts.China"></span> </label>
                                <i class="color_7"></i>
                            </li>
                        </ul>
                    </div>

                </div>
                <!--End collapse -->
            </div>
            <!--End filters col-->
        </div>
        <!--End col-md -->

        <div class="col-md-9">

            <!-- <div id="tools">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="styled-select">
                            <select name="sort_rating" id="sort_rating">
                                <option value="" selected>Sort by ranking</option>
                                <option value="lower">Lowest ranking</option>
                                <option value="higher">Highest ranking</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-6 hidden-xs">
                        <a href="grid_list.html" class="bt_filters"><i class="icon-th"></i></a>
                    </div>
                </div>
            </div>-->
            <!--End tools -->

            <div ng-if="vm.restaurants.length> 0" ng-repeat="restaurant in vm.restaurants" class="strip_list wow fadeIn" data-wow-delay="0.1s">
                <div class="row">
                    <div class="col-md-9 col-sm-9">
                        <div class="desc">
                            <div class="thumb_strip">
                                <a ui-sref="restaurants.menu({ restaurantID : restaurant.id})"><img src="{{restaurant.logoImg}}" alt=""></a>
                            </div>
                            <div class="rating">
                                <ng-rate-it step="1" read-only="true" ng-model="restaurant.rate"></ng-rate-it>
                            </div>
                            <h3>{{restaurant.name}}</h3>
                            <div class="type">
                                {{restaurant.foodType}} / {{restaurant.restaurantType}}
                            </div>
                            <div class="location">
                                {{restaurant.fullAddress}} <span class="opening"  translate="Restaurnts.StartWorkAt">   </span>{{restaurant.startWorkTime}}. <span  translate="Restaurnts.LessValue"></span>            : {{restaurant.currency +' '+restaurant.minAmountForFreeDelivery}}
                            </div>
                            <ul>
                                <li ng-show='restaurant.isOpen' > <span translate="Restaurnts.RestaurantIsOpen"></span> <i class="icon_check_alt2 ok"></i></li>
                                <li ng-show='!restaurant.isOpen'>  <span translate="Restaurnts.RestaurantIsClose"></span> <i class="icon_check_alt2 no"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="go_to">
                            <div>
                                <a ng-if="restaurant.menus.length > 0" ui-sref="restaurants.menu({ restaurantID : restaurant.id})" class="btn_1" translate="Restaurnts.ViewMenu">عرض القائمة</a>
                                <span ng-if="restaurant.menus.length < 1" translate="Restaurnts.MenuIsNotReady" class="opening" >القائمة غير متوفرة </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End row-->
            </div>
            <!-- End strip_list-->

            <a ng-if="vm.restaurants.length < 1"   class="load_more_bt wow fadeIn" data-wow-delay="0.2s"
                translate="Restaurnts.NoMoreRestaurants"> </a>
            <a ng-if="vm.restaurants.length> 0" href="" ng-hide="vm.showAll" ng-click="vm.showMoreRestaurants()" class="load_more_bt wow fadeIn" data-wow-delay="0.2s"
                translate="Restaurnts.SeeMore">عرض المزيد...</a>
        </div>
        <!-- End col-md-9-->

    </div>
    <!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->

<script src="js/jquery-1.11.2.min.js"></script>

<script src="/src/client/js/bootstrap.min.js"></script>
<script src="/src/client/js/parallax.min.js"></script>
<script src="/src/client/js/retina-replace.min.js"></script>
<script src="/src/client/js/jquery.magnific-popup.min.js"></script>
<script src="/src/client/js/pw_strenght.js"></script>
<script src="/src/client/js/icheck.js"></script>
<script src="/src/client/js/jquery.placeholder.min.js"></script>

<script src="js/functions.js"></script>
<script src="/src/client/js/wow.js"></script>

<script src="assets/validate.js"></script>
<!-- SPECIFIC SCRIPTS -->
<script src="js/cat_nav_mobile.js"></script>
<script>$('#cat_nav').mobileMenu();</script>
<script src="js/infobox.js"></script>
<script src="js/ion.rangeSlider.js"></script>
<script>
    $(function () {
        'use strict';
        $("#range").ionRangeSlider({
            hide_min_max: true,
            keyboard: true,
            min: 0,
            max: 15,
            from: 0,
            to: 5,
            type: 'double',
            step: 1,
            prefix: "Km ",
            grid: true
        });
    });
</script>