﻿ <!-- Footer ================================================== -->
    <footer ng-controller="footerController as vm">
    <div class="container">
        <div class="row">
           
            <div class="col-md-3 col-sm-3">
                <h3 translate="Footer.OtobleeWebsite">موقع اطلبلي</h3>
                <ul>
                    <li><a ui-sref='main' href="" translate="Footer.Home">الصفحة الرئيسية</a></li>
                    <li><a ui-sref='aboutUs' href="" translate="Footer.AboutUs">حول موقع اطلبلي</a></li>
                    <li><a href="" translate="Footer.ContactUs">اتصل بنا</a></li>
                    <li><a  ui-sref='userManagment' translate="Footer.SignUp">تسجيل مستخدم جديد</a></li>
                    <li><a ui-sref='loginApp' translate="Footer.Login">تسجيل دخول</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3" id="newsletter">
                <h3 translate="Footer.OtlobleeApplications"> تطبيق أطلبلي</h3>
                <p translate="Footer.OtlobleeApplicationsComment">
                    حمل تطبيقات اطلبلي على جهازك المحمول
                </p>
                    <ul >
                        <li style="float:right;"> <a href="#0"><img src='img/android-app-icon.png' /></a></li>
                        <li style="float:right;"><a href="#0"><img src='img/ios.png' /></i></a></li>
                    </ul>
            </div>
          <div class="col-md-2 col-sm-3">
                <h3 translate="Footer.Language">اللغة</h3>
                <div >
                    <select ng-change="vm.changeLanguage(vm.selectedLangulage)" ng-selected="vm.selectedLangulage" ng-model="vm.selectedLangulage" class="form-control" name="lang" id="lang">
                        <option value="ar">العربية</option>
                        <option value="en">English</option>
                    </select>
                </div>
               
            </div>
        </div><!-- End row -->
        <div class="row">
            <div class="col-md-12">
                <div id="social_footer">
                    <ul>
                        <li><a href="#0"><i class="icon-facebook"></i></a></li>
                        <li><a href="#0"><i class="icon-twitter"></i></a></li>
                        <li><a href="#0"><i class="icon-google"></i></a></li>
                        <li><a href="#0"><i class="icon-instagram"></i></a></li>
                        <li><a href="#0"><i class="icon-pinterest"></i></a></li>
                        <li><a href="#0"><i class="icon-vimeo"></i></a></li>
                        <li><a href="#0"><i class="icon-youtube-play"></i></a></li>
                    </ul>
                    <p>
                        © Otloblee 2016
                    </p>
                </div>
            </div>
        </div><!-- End row -->
    </div><!-- End container -->
    </footer>
    <!-- End Footer =============================================== -->