﻿<div class="timeline">
    <div class="pmbb-header">
        <button ng-click="vm.showAddMenu=true;vm.hideTimeLine=true " class="btn btn-success  btn-primary btn-block waves-effect"><i class="zmdi zmdi-plus zmdi-hc-fw"></i><span translate="AddMenu"></span> </button>
        <div ng-show="vm.showAddMenu">
            <form data-ng-submit="vm.addMenu(menu)" class="pmbb-edit">
                <dl class="dl-horizontal">
                    <dt translate="EnglishName" class="p-t-10"></dt>
                    <dd>
                        <div class="fg-line">
                            <input ng-model="menu.nameEnglish" type="text" class="form-control" required>
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt translate="ArabicName" class="p-t-10"></dt>
                    <dd>
                        <div class="fg-line">
                            <input ng-model="menu.nameArabic" type="text" class="form-control" required>
                        </div>
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt translate="FoodType" class="p-t-10"></dt>
                    <dd>
                        <div class="fg-line">
                            <select ng-model="menu.categoryId" class="form-control" required>
                                <option ng-repeat="category in vm.categories" value="{{category.id}}">{{category.nameArabic}}</option>
                            </select>
                        </div>
                    </dd>
                </dl>
                <div class="m-t-30">
                    <button translate="Save" class="btn btn-primary btn-sm" type="submit"></button>
                    <a ng-click="vm.showAddMenu=false;vm.hideTimeLine=false " translate="Cancel" class="btn btn-link btn-sm"></a>
                </div>
            </form>
        </div>


    </div>
    <div ng-hide="vm.hideTimeLine">
        <div class="t-view" data-tv-type="image" ng-repeat="menuItem in vm.menus">
            <div class="tv-header media">
                <div class="media-body p-t-5">
                    <strong class="d-block">{{menuItem.nameArabic}} </strong>
                    <strong class="d-block">{{menuItem.nameEnglish}}</strong>
                    <small class="c-gray">{{menuItem.catigory}}</small>
                    <small class="c-gray">{{menuItem.createdDateTime}}</small>
                </div>



                <ul class="actions m-t-20 hidden-xs">

                    <li class="dropdown" uib-dropdown>
                        <a href="" uib-dropdown-toggle>
                            <i class="zmdi zmdi-more-vert"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a translate="Edit" href="">Edit</a>
                            </li>
                            <li>
                                <a translate="Delete" href="">Delete</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="tv-body">
                <ul class="tvb-stats">
                    <li class="tvbs-comments">
                        <div class=""><button ng-click="vm.addMeal(menuItem.id,menuItem.nameArabic,menuItem.nameEnglish)" class="btn btn-default btn-icon-text waves-effect"><i class="zmdi zmdi-plus"></i> <span translate="Pages.Admin.Restaurants.AddNewMeal"></span></button></div>
                        <div class="clearfix"></div>
                        <div ng-init="showAddMeal=true" ng-hide="showAddMeal">
                            <br />
                            <form data-ng-submit="vm.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit">
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'ArabicName' | translate }}">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'EnglishName' | translate }}">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'Description' | translate }}">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'Price' | translate }}">
                                        </div>
                                    </div>
                                    <div class="m-t-30">
                                        <button translate="Add" class="btn btn-primary btn-sm" type="submit"></button>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'DiscountPrice' | translate }}">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'DiscountStartDate' | translate }}">
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="fg-line">
                                            <input type="text" class="form-control" placeholder="{{ 'DiscountEndDate' | translate }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="fileinput fileinput-exists" data-provides="fileinput">
                                        <span class="btn btn-primary btn-file m-r-10 waves-effect">
                                            <span class="fileinput-new">Select file</span>
                                            <span class="fileinput-exists">Upload</span>
                                            <input type="hidden" value="" name=""><input type="file" name="...">
                                        </span>
                                        <br />
                                        <div class="clearfix"></div>
                                        <span class="fileinput-filename">2.jpg</span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">×</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="clearfix"></div>

                    </li>
                </ul>

                <div class="clearfix"></div>

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th translate="ArabicName">Arabic Name</th>
                                <th translate="EnglishName">English Name</th>
                                <th translate="DescriptionArabic">Description</th>
                                <th translate="DescriptionEnglish">Description</th>
                                <th translate="Price">Price</th>
                              
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="mealItem in menuItem.meals">
                                <td>{{mealItem.nameArabic}}</td>
                                <td>{{mealItem.nameEnglish}}</td>
                                <td>{{mealItem.descriptionArabic}}</td>
                                <td>{{mealItem.descriptionEnglish}}</td>
                                <td>{{mealItem.price}}</td>
                                <td><button tooltip-placement="top" uib-tooltip="{{vm.edit}}" ng-click="vm.editMeal(menuItem.id,menuItem.nameArabic,menuItem.nameEnglish,mealItem)" class="btn bgm-amber waves-effect"><i class="zmdi zmdi-edit zmdi-hc-fw"></i></button>
                                <button tooltip-placement="top" uib-tooltip="حذف" ng-click="vm.deleteMeal(mealItem.id)" class="btn bgm-amber waves-effect"><i class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


    </div>







    <div class="clearfix"></div>


</div>
