﻿<div class="pmb-block">
    <div class="block-header">
        <h2>Restaurant Menus</h2>

    </div>

    <div class="card">
        <div class="lv-header-alt clearfix m-b-5">
            <h2 class="lvh-label hidden-xs">19,453 Records</h2>

            <div class="lvh-search" data-ng-if="mactrl.listviewSearchStat" data-ng-click="mactrl.listviewSearchStat">
                <input type="text" placeholder="Start typing..." class="lvhs-input">

                <i class="lvh-search-close" data-ng-click="mactrl.listviewSearchStat = false">&times;</i>
            </div>

            <ul class="lv-actions actions">
                <li>
                    <a href="" data-ng-click="mactrl.listviewSearchStat = true">
                        <i class="zmdi zmdi-search"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-time"></i>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle aria-expanded="false" aria-haspopup="true">
                        <i class="zmdi zmdi-sort"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Last Modified</a>
                        </li>
                        <li>
                            <a href="">Last Edited</a>
                        </li>
                        <li>
                            <a href="">Name</a>
                        </li>
                        <li>
                            <a href="">Date</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">
                        <i class="zmdi zmdi-info"></i>
                    </a>
                </li>
                <li class="dropdown" uib-dropdown>
                    <a href="" uib-dropdown-toggle aria-expanded="false" aria-haspopup="true">
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="">Refresh</a>
                        </li>
                        <li>
                            <a href="">Settings</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                </div>

                <div class="pt-body">
                    <h2 class="ptb-title">العروض المميزة  <small>(بيتزا)</small></h2>

                    <div class="lightbox clearfix">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Nickname</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Alexandra</td>
                                    <td>Christopher</td>
                                    <td>@makinton</td>
                                    <td>Ducky</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Madeleine</td>
                                    <td>Hollaway</td>
                                    <td>@hollway</td>
                                    <td>Cheese</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sebastian</td>
                                    <td>Johnston</td>
                                    <td>@sebastian</td>
                                    <td>Jaycee</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Mitchell</td>
                                    <td>Christin</td>
                                    <td>@mitchell4u</td>
                                    <td>AdskiDeAnus</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Elizabeth</td>
                                    <td>Belkitt</td>
                                    <td>@belkitt</td>
                                    <td>Goat</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Benjamin</td>
                                    <td>Parnell</td>
                                    <td>@wayne234</td>
                                    <td>Pokie</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Katherine</td>
                                    <td>Buckland</td>
                                    <td>@anitabelle</td>
                                    <td>Wokie</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td>Nicholas</td>
                                    <td>Walmart</td>
                                    <td>@mwalmart</td>
                                    <td>Spike</td>
                                </tr>
                            </tbody>
                        </table>
                      
                    </div>
                </div>

            </div>
            
            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                </div>

                <div class="pt-body">
                    <h2 class="ptb-title">حجم وسط  <small>(بيتزا)</small></h2>


                    <div class="lightbox clearfix">
                        <div data-src="media/gallery/1.jpg">
                            <div class="lightbox-item">
                                <img src="media/gallery/thumbs/1.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/2.jpg">
                            <div class="lightbox-item">
                                <img src="media/gallery/thumbs/2.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/3.jpg">
                            <div class="lightbox-item p-item">
                                <img src="media/gallery/thumbs/3.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/4.jpg">
                            <div class="lightbox-item p-item">
                                <img src="media/gallery/thumbs/4.jpg" alt="" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                </div>

                <div class="pt-body">
                    <h2 class="ptb-title">حجم كبير  <small>(بيتزا)</small></h2>


                    <div class="lightbox clearfix">
                        <div data-src="media/gallery/1.jpg">
                            <div class="lightbox-item">
                                <img src="media/gallery/thumbs/1.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/2.jpg">
                            <div class="lightbox-item">
                                <img src="media/gallery/thumbs/2.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/3.jpg">
                            <div class="lightbox-item p-item">
                                <img src="media/gallery/thumbs/3.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/4.jpg">
                            <div class="lightbox-item p-item">
                                <img src="media/gallery/thumbs/4.jpg" alt="" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="p-timeline">
                <div class="pt-line c-gray text-right">
                </div>

                <div class="pt-body">
                    <h2 class="ptb-title">مشروبات باردة  <small>(مشروبات)</small></h2>


                    <div class="lightbox clearfix">
                        <div data-src="media/gallery/1.jpg">
                            <div class="lightbox-item">
                                <img src="media/gallery/thumbs/1.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/2.jpg">
                            <div class="lightbox-item">
                                <img src="media/gallery/thumbs/2.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/3.jpg">
                            <div class="lightbox-item p-item">
                                <img src="media/gallery/thumbs/3.jpg" alt="" />
                            </div>
                        </div>

                        <div data-src="media/gallery/4.jpg">
                            <div class="lightbox-item p-item">
                                <img src="media/gallery/thumbs/4.jpg" alt="" />
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            
        </div>
    </div>
</div>

