﻿

<div  class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i><span translate="RestaurantInfo"></span>  </h2>

        <ul class="actions" data-ng-if="vm.editInfo === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a translate="Edit" data-ng-click="vm.showEdit('editInfo');" href="">تعديل</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="vm.editInfo === 0">
            <dl class="dl-horizontal">
                <dt translate="RestaurantName">Restaurant Name</dt>
                <dd>{{ vm.restaurantInfo.nameEnglish }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="RestaurantNameArabic">Restaurant Name Arabic</dt>
                <dd>{{ vm.restaurantInfo.nameArabic }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Country">Country</dt>
                <dd>{{ vm.restaurantInfo.country }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="RestaurantType">Restaurant Type</dt>
                <dd>{{ vm.restaurantInfo.restaurantType }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="FoodType">Food Type</dt>
                <dd>{{ vm.restaurantInfo.foodType }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DescriptionEnglish">Description</dt>
                <dd>{{ vm.restaurantInfo.descriptionArabic }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DescriptionArabic">Description</dt>
                <dd>{{ vm.restaurantInfo.descriptionEnglish }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="AddressEnglish">Address</dt>
                <dd>{{ vm.restaurantInfo.fullAddressEnglish }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="AddressArabic">Address</dt>
                <dd>{{ vm.restaurantInfo.fullAddressArabic }}</dd>
            </dl>
         
        </div>

        <form data-ng-submit="vm.submit('profileInfo', 'Profile Information', edit)" class="pmbb-edit" data-ng-if="vm.editInfo === 1">
            <dl class="dl-horizontal">
                <dt translate="RestaurantName" class="p-t-10">Restaurant Name</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.nameEnglish" type="text" class="form-control" value="{{ vm.restaurantInfo.nameEnglish }}" placeholder="eg.The Super">
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt translate="RestaurantNameArabic" class="p-t-10">Restaurant Name Arabic</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.nameArabic" type="text" class="form-control" value="{{vm.restaurantInfo.nameArabic }}">
                    </div>
                </dd>
            </dl>
           

            <dl class="dl-horizontal">
                <dt translate="Country" class="p-t-10">Country</dt>
                <dd>
                    <div class="fg-line">
                      
                        <select ng-model="vm.edit.country" class="form-control">
                            <option ng-selected="{{country.Value == vm.restaurantInfo.country}}"
                                    ng-repeat="country in vm.countries"
                                    value="{{country.Value}}">
                                {{country.DisplayName}}
                            </option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="RestaurantType" class="p-t-10">Restaurant Type</dt>
                <dd>
                    <div class="fg-line">
                        <select ng-model="vm.edit.restaurantType" class="form-control">
                            <option ng-selected="{{restaurantType.nameArabic == vm.restaurantInfo.restaurantType}}"
                                    ng-repeat="restaurantType in vm.resturantTypes"
                                    value="{{restaurantType.nameEnglish}}">
                                {{restaurantType.name}}
                            </option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="FoodType" class="p-t-10">Food Type</dt>
                <dd>
                    <div class="fg-line">
                  
                        <select ng-model="vm.edit.foodType" class="form-control">
                            <option ng-selected="{{foodType.nameArabic == vm.restaurantInfo.foodType}}"
                                    ng-repeat="foodType in vm.foodTypes"
                                    value="{{foodType.nameEnglish}}">
                                {{foodType.name}}
                            </option>
                        </select>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DescriptionEnglish" class="p-t-10">Description</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.descriptionEnglish" type="text" class="form-control" value="{{vm.restaurantInfo.descriptionEnglish }}">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DescriptionArabic" class="p-t-10">Description</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.descriptionArabic" type="text" class="form-control" value="{{vm.restaurantInfo.descriptionArabic }}">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="AddressEnglish" class="p-t-10">Address</dt>
                <dd>
                    <div class="fg-line">
                        <textarea data-ng-model="vm.edit.fullAddressEnglish" class="form-control" rows="2" >{{vm.restaurantInfo.fullAddressEnglish}}</textarea>
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="AddressArabic" class="p-t-10">Address</dt>
                <dd>
                    <div class="fg-line">
                        <textarea data-ng-model="vm.edit.fullAddressArabic" class="form-control" rows="2"  >{{vm.restaurantInfo.fullAddressArabic}}</textarea>
                    </div>
                </dd>
            </dl>
          
            <div class="m-t-30">
                <button translate="Save" class="btn btn-primary btn-sm" type="submit">Save</button>
                <button translate="Cancel" class="btn btn-link btn-sm" data-ng-click="vm.editInfo = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-person m-r-5"></i><span translate="RestaurantRules">Restaurant Rules</span> </h2>
        <ul class="actions" data-ng-if="vm.editRules === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a translate="Edit" data-ng-click="vm.showEdit('editRules');" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="vm.editRules === 0">

            <dl class="dl-horizontal">
                <dt translate="StartWorkTime">Start Work Time</dt>
                <dd>{{ vm.restaurantInfo.startWorkTime }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="EndWorkTime">End Work Time</dt>
                <dd>{{ vm.restaurantInfo.endWorkTime }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="MinimumAmountforFreeDelivery">Minimum Amount for Free Delivery</dt>
                <dd>{{ vm.restaurantInfo.minAmountForFreeDelivery }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DeliveryFee">Delivery Fee</dt>
                <dd>{{ vm.restaurantInfo.deliveryFees }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Currency">Currency</dt>
                <dd>{{ vm.restaurantInfo.currency }}</dd>
            </dl>
        </div>

        <form data-ng-submit="vm.submit('rules', 'Profile Information',edit)" class="pmbb-edit" data-ng-if="vm.editRules === 1">
            <dl class="dl-horizontal">
                <dt translate="StartWorkTime" class="p-t-10">Start Work Time</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.startWorkTime" data-input-mask="{mask: '00:00'}" type="text" class="form-control" value="{{ vm.restaurantInfo.startWorkTime }}" placeholder="eg: 08:30">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="EndWorkTime" class="p-t-10">End Work Time</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.endWorkTime" type="text" data-input-mask="{mask: '00:00'}" class="form-control" value="{{ vm.restaurantInfo.endWorkTime }}" placeholder="eg: 23:30">
                    </div>
                </dd>
            </dl>

            <dl class="dl-horizontal">
                <dt translate="MinimumAmountforFreeDelivery" class="p-t-10">Minimum Amount for Free Delivery</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.minAmountForFreeDelivery" type="text" class="form-control" value="{{ vm.restaurantInfo.minAmountForFreeDelivery }}">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DeliveryFee" class="p-t-10">Delivery Fee</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.deliveryFees" type="text" class="form-control" value="{{ vm.restaurantInfo.deliveryFees }}">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Currency" class="p-t-10">Currency</dt>
                <dd>
                    <div class="fg-line">
                        <select data-ng-model="vm.edit.currency" class="form-control">
                            <option>USD</option>
                            <option>AED</option>
                            <option>SAR</option>
                            <option>KWD</option>
                            <option>SYR</option>
                        </select>
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button translate="Save"  class="btn btn-primary btn-sm" type="submit">Save</button>
                <button translate="Cancel" class="btn btn-link btn-sm" data-ng-click="vm.editRules = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>

<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-phone m-r-5"></i> <span translate="ContactInformation">Contact Information</span></h2>

        <ul class="actions" data-ng-if="vm.editContact === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a translate="Edit" data-ng-click="vm.showEdit('editContact')" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="vm.editContact === 0">
            <dl class="dl-horizontal">
                <dt translate="PhoneNumber1">Mobile Phone</dt>
                <dd>{{ vm.restaurantInfo.phoneNumber1 }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="MobilePhone">Mobile Phone</dt>
                <dd>{{ vm.restaurantInfo.phoneNumber2 }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Website">Website</dt>
                <dd>{{ vm.restaurantInfo.website }}</dd>
            </dl>
        </div>

        <form data-ng-submit="vm.submit('profileContact', 'Profile Contact Information')" class="pmbb-edit" data-ng-if="vm.editContact === 1">
            <dl class="dl-horizontal">
                <dt translate="PhoneNumber1" class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.phoneNumber1" type="text" class="form-control" value="{{ vm.restaurantInfo.phoneNumber1 }}" placeholder="eg. 00971 12345678 9">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="MobilePhone" class="p-t-10">Mobile Phone</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.phoneNumber2" type="text" class="form-control" value="{{ vm.restaurantInfo.phoneNumber2 }}" placeholder="eg. 00971 12345678 9">
                    </div>
                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Website" class="p-t-10">Email Address</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.website" type="url" class="form-control" value="{{ vm.restaurantInfo.website }}" placeholder="eg. www.anywebsite.com">
                    </div>
                </dd>
            </dl>
            
            <div class="m-t-30">
                <button translate="Save"  class="btn btn-primary btn-sm" type="submit">Save</button>
                <button translate="Cancel" class="btn btn-link btn-sm" data-ng-click="vm.editContact = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>
