

    <div class="block-header">
        <h2> <span >تقرير جميع المطاعم<span></span><small><span >تقرير تفصيلي لجميع المطاعم المسجلة في الموقع</span> </small></h2>
    
    </div>



    <div class="card">
        <div class="card-header">
            <h2 >المطاعم المسجلة <small>تقارير المفصلة للمطاعم المسجلة</small></h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="vm.tableSorting" class="table table-striped table-vmiddle">
                    <tr ng-repeat="w in $data">
                        <td data-title="اسم المطعم" >
                            {{ w.firstName +' ' + w.lastName }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.MobileNumber' | translate" sortable="'mobileNumber'">
                            {{ w.phoneNumber }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.CreatedDate' | translate" sortable="'joinDate'">
                            {{ w.createdDateTime }}
                        </td>
                         <td data-title="'Pages.Admin.UserManagement.PaymentType' | translate" sortable="'paymentType'">
                            {{ w.paymentType }}
                        </td>
                          <td data-title="'Pages.Admin.UserManagement.FullAddress' | translate" sortable="'fullAddress'">
                            {{ w.fullAddress }}
                        </td>
                          <td data-title="'Pages.Admin.UserManagement.Status' | translate" sortable="'state'">
                            {{ w.state }}
                        </td>
                       
                     
                        <td  >
                 <a href="" data-ui-sref="orders.orderDetails({orderId:w.id})" class="btn btn-default"><i class="zmdi zmdi-search"></i></a>
                 <a href="" data-ui-sref="orders.invoice({orderId:w.id})" class="btn btn-default"><i class="zmdi zmdi-invoice"></i></a>


                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

   

  

