<div class="block-header">
    <h2>تفاصيل الطلب <small>عرض محتويات الطلب.</small></h2>

</div>
<div class="card">
    <div class="card-header">
        <h2>تفاصيل الطلب <small>يمكنك التأكيد على استلام الطلب او الغاءه حتى يتم تبليغ المشتري</small></h2>
        <button ng-click="vm.changeState('Confirmed')">موافقة على الطلب</button>
        <button ng-click="vm.changeState('Canceled')">الغاء الطلب</button>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view">
            <dl class="dl-horizontal">
                <dt translate="FullName"> Name</dt>
                <dd>{{ vm.order.firstName }} {{ vm.order.lastName }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Address"></dt>
                <dd>{{ vm.order.fullAddress }}</dd>
            </dl>

            <dl class="dl-horizontal">
                <dt translate="CreateTime"></dt>
                <dd>{{ vm.order.createdDateTime }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="DeliveryFees">Food Type</dt>
                <dd>{{ vm.order.deliveryFees }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="PaymentType">Description</dt>
                <dd>{{ vm.order.paymentType }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="PhoneNumber1">Description</dt>
                <dd>{{ vm.order.phoneNumber }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="ReferenceNumber">Address</dt>
                <dd>{{ vm.order.referenceNumber }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="State">Address</dt>
                <dd>{{ vm.order.state }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="UserNotes">Address</dt>
                <dd>{{ vm.order.userNotes }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Coupone"></dt>
                <dd>{{ vm.order.coupone }}</dd>
            </dl>
        </div>

    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>اسم الصنف</th>
                    <th>الكمية</th>
                    <th> السعر للواحده</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vm.items">
                    <td>{{item.name}}</td>
                    <td>{{item.count}}</td>
                    <td>{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
<hr>
<div class="pmbb-body p-l-30">
    <div class="pmbb-view">
        <dl class="dl-horizontal">
            <dt translate="SubTotal">Total</dt>
            <dd>{{ vm.order.subTotalPrice }}</dd>
        </dl>
        <dl class="dl-horizontal">
            <dt translate="Total"></dt>
            <dd>{{ vm.order.totalPrice }}</dd>
        </dl>
    </div>
</div>
<div class="clearfix">
</div>
</div>

</div>
