﻿    <header>
    <div class="container-fluid">
        <div class="row">
            <div class="col--md-4 col-sm-4 col-xs-4 arabic-floatr">
                <a href="" ui-sref="main" id="logo">
                    <img src="img/logo.png" width="190" height="23" alt="" data-retina="true" class="hidden-xs">
                    <img src="img/logo_mobile.png" width="59" height="23" alt="" data-retina="true" class="hidden-lg hidden-md hidden-sm">
                </a>
            </div>
            <nav  class="col--md-8 col-sm-8 col-xs-8 ">
                <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close arabic-floatl" href="javascript:void(0);"><span>Menu mobile</span></a>
                <div class="main-menu " >
                    <div id="header_menu" class="arabic-floatl">
                        <img src="img/logo.png" width="190" height="23" alt="" data-retina="true">
                    </div>
                    <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                    <ul>
                        <li notallowed='public'><a ui-sref="profile.myInfo"><span translate="Header.MyProfile"></span></a></li>
                        <li>
                            <a ui-sref="main"><span translate="Header.Home"></span></a>
                        </li>
                        <li><a ui-sref="aboutUs"><span translate="Header.AboutUs"></span></a></li>
                        <li allowed='public'><a ui-sref="loginApp"><span translate="Header.Login"></span></a></li>
                        <li notallowed='public'><a href="" ng-click="vm.logout()"><span translate="Header.Logout"></span></a></li>
                    </ul>
                </div><!-- End main-menu -->
            </nav>
        </div><!-- End row -->
    </div><!-- End container -->
    </header>
    <script src="js/jquery-1.11.2.min.js"></script>
    <script src="js/common_scripts_min.js"></script>