﻿<div class="card" id="profile-main">
    <div class="pm-body clearfix">
        <div class="four-zero">
            <h2 style="font-size:60px;" translate="Messages.Sorry">Sorry!</h2>
            <small translate="Messages.UnderConstruction">This Page Under</small>
            <footer>
                <a href="/"><i class="zmdi zmdi-home"></i></a>
            </footer>
        </div>
    </div>
</div>
