﻿<footer id="footer" >
    Copyright &copy; 2016 Otloblee Admin Site
 
    <ul class="f-menu">
        <li><a href="">الصفخة الرئيسية</a></li>
        <li><a href="">التقارير</a></li>
        <li><a href="">الدعم فني</a></li>
        <li><a href="">اتصل بنا</a></li>
    </ul>

</footer>
