﻿

<div class="card">
    <div class="card-header">
        <h2 translate="AddNewUser">Input Text </h2>
    </div>

    <div class="card-body card-padding">
        <p class="c-black f-500">يرجى ادخال جميع الحقول, جميل الحقول اجبارية</p>
        <form data-ng-submit="vm.submit(modal)">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.userName" class="form-control" placeholder="{{ 'Login.UserName' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="email" ng-model="modal.email" name="newEmail" class="form-control" placeholder="{{ 'Login.Email' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.firstName"  class="form-control" placeholder="{{ 'Login.FirstName' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.lastName" name="newLastName" class="form-control" placeholder="{{ 'Login.LastName' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6  m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="password" ng-model="modal.password" class="form-control" placeholder="{{ 'Login.Password' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="password" ng-model="modal.confirmPassword" class="form-control" placeholder="{{ 'Login.ConfirmPassword' | translate }}" required>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" ng-model="modal.phoneNumber" class="form-control" placeholder="{{ 'Login.PhoneNumber' | translate }}" required>
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-2  m-t-10">
                    <div class="form-group">
                        <div class="fg-line">
                            <button class="btn btn-primary waves-effect" type="submit" translate="Add"></button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>







