﻿<div class="login-content">
    <div class="">
        <!-- Login -->
        <form ng-show="vm.successfulAddPage" class="lc-block toggled" id="l-login">
            <p class="text-left" ng-hide="true">
                <h2> تم انشاء حسابك بنجاح</h2><br /> <h4>
                   لقد تم ارسال كود تفعيل الى بريدك الالكتروني يرجى الضغط على اللينك الموجود فيه
                </h4>
              في حال لم تجد البريد الالكتروني يرجى البحث في الجانك ميل 
            </p>
            <!--<p class="text-left" ng-hide="true">
                <h2> Your information has been sent successfully.</h2><br /> <h4>
                    Please click the confirmation link in the email
                    that we have sent to you.
                </h4>
                Please check, whether the email is in the junk folder of your email account,
                since confirmation mails with backlinks are sometimes classified as spam.
            </p>-->
            <div class="clearfix"></div>
        </form>
 
    </div>
</div>