﻿<div class="login-content">
    <div class="">
        <!-- Login -->
        <form  class="lc-block toggled" id="l-login">
            <p class="text-left" ng-hide="true">
                <h2>
                    شكراً, لقد تم تفعيل حسابك بنجاح, يمكنك الدخول الى الموقع بعد ان يقوم المدير بتحديد صلاحياتك
                </h2>
            </p>

            <div class="clearfix"></div>
        </form>

    </div>
</div>