﻿<div class="login-content">
    <!--<div class="row" style="position: fixed; top: 60%; left: 52%;  transform: translate(-50%, -50%);">
        <img src="../../img/logo.png" />
    </div>-->
    <div>
        <!-- Login -->
        <form ng-submit="vm.submit(login)" class="lc-block" id="l-login" data-ng-class="{ 'toggled': vm.login === 1 }" data-ng-if="vm.login === 1">
            
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" ng-model="login.userName" name="username" class="form-control" placeholder="{{ 'Login.UserName' | translate }}" required>
                </div>
            </div>

            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" ng-model="login.password" class="form-control" placeholder="{{ 'Login.Password' | translate }}" required>
                </div>
            </div>

            <!--<div class="facebookBtn">
            <a href="" class="btn  bgm-blue waves-effect"><i class="zmdi zmdi-facebook"></i> <span>تسجيل دخول باستخدام الفيسبوك</span></a>
        </div>-->
                        <br />
            <a translate="Login.Register" href="" class="btn btn-default btn-block waves-effect" data-block="#l-register" class="bgm-red" data-ng-click="vm.login = 0; vm.register = 1"></a><br />
            <a translate="Login.ForgetPassword" href="" class="btn btn-default btn-block waves-effect" data-block="#l-forget-password" class="bgm-orange" data-ng-click="vm.login = 0; vm.forgot = 1"></a>
                        <div class="clearfix"></div>
                        <button href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>

                        <!--<ul class="login-navigation">
                        <li translate="Login.Register">Register</li>
                        <li translate="Login.ForgetPassword" >Forgot Password?</li>
                    </ul>-->
        </form>
        <!-- Register -->
        <form ng-submit="vm.registerUser(user)" class="lc-block" id="l-register" data-ng-class="{ 'toggled': vm.register === 1 }" data-ng-if="vm.register === 1">
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" ng-model="user.firstName" class="form-control" placeholder="{{ 'Login.FirstName' | translate }}" required>
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input type="text" ng-model="user.lastName" class="form-control" placeholder="{{ 'Login.LastName' | translate }}" required>
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
                <div class="fg-line">
                    <input ng-model="user.userName" type="text" class="form-control" placeholder="{{ 'Login.UserName' | translate }}" required>
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="email" ng-model="user.email" class="form-control" placeholder="{{ 'Login.Email' | translate }}" required>
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-phone "></i></span>
                <div class="fg-line">
                    <input ng-model="user.phoneNumber" type="text" class="form-control" placeholder="{{ 'Login.PhoneNumber' | translate }}" required>
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" ng-model="user.password" class="form-control" placeholder="{{ 'Login.Password' | translate }}" required>
                </div>
            </div>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
                <div class="fg-line">
                    <input type="password" ng-model="user.confirmPassword" class="form-control" placeholder="{{ 'Login.ConfirmPassword' | translate }}" required>
                </div>
            </div>
            <br />
            <a href="" class="btn btn-default btn-block waves-effect" translate="Login.Login" data-block="#l-login" data-ng-click="vm.register = 0; vm.login = 1"></a><br />
            <a href="" class="btn btn-default btn-block waves-effect" translate="Login.ForgetPassword" data-block="#l-forget-password" data-ng-click="vm.register = 0; vm.forgot = 1"></a>
            <div class="clearfix"></div>
            <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button>
           
            <!--<ul class="login-navigation">
                <li translate="Login.Login" data-block="#l-login" class="bgm-green" data-ng-click="vm.register = 0; vm.login = 1">Login</li>
                <li translate="Login.ForgetPassword" data-block="#l-forget-password" class="bgm-orange" data-ng-click="vm.register = 0; vm.forgot = 1">Forgot Password?</li>
            </ul>-->
        </form>
        <!-- Forgot Password -->
        <div class="lc-block" id="l-forget-password" data-ng-class="{ 'toggled': vm.forgot === 1 }" data-ng-if="vm.forgot === 1">
            <p class="text-right">يمكنك اعادة تعيين كلمة المرور الخاصة بك بادخال بريدك الالكتروني الذي قمت بالتسجيل به, والضغط على اللينك المرسل اليك ثم تعيين كلمة مرور جديدة</p>
            <div class="input-group m-b-20">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
                <div class="fg-line">
                    <input type="text" class="form-control" placeholder="{{ 'Login.Email' | translate }}">
                </div>
            </div>
            <br />
            <a href="" class="btn btn-default btn-block waves-effect" translate="Login.Login" data-block="#l-login" class="bgm-green" data-ng-click="vm.forgot = 0; vm.login = 1"></a><br />
            <a href="" class="btn btn-default btn-block waves-effect" translate="Login.Register" data-block="#l-register" class="bgm-red" data-ng-click="vm.forgot = 0; vm.register = 1"></a>

                    <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>
                    <!--<ul class="login-navigation">
                        <li translate="Login.Login" data-block="#l-login" class="bgm-green" data-ng-click="vm.forgot = 0; vm.login = 1">Login</li>
                        <li translate="Login.Register" data-block="#l-register" class="bgm-red" data-ng-click="vm.forgot = 0; vm.register = 1">Register</li>
                    </ul>-->
</div>
        <!-- Older IE warning message -->
        <!--[if lt IE 9]>
            <div class="ie-warning">
                <h1 class="c-white">Warning!!</h1>
                <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
                <div class="iew-container">
                    <ul class="iew-download">
                        <li>
                            <a href="http://www.google.com/chrome/">
                                <img src="img/browsers/chrome.png" alt="">
                                <div>Chrome</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.mozilla.org/en-US/firefox/new/">
                                <img src="img/browsers/firefox.png" alt="">
                                <div>Firefox</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.opera.com">
                                <img src="img/browsers/opera.png" alt="">
                                <div>Opera</div>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.apple.com/safari/">
                                <img src="img/browsers/safari.png" alt="">
                                <div>Safari</div>
                            </a>
                        </li>
                        <li>
                            <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                                <img src="img/browsers/ie.png" alt="">
                                <div>IE (New)</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <p>Sorry for the inconvenience!</p>
            </div>
        <![endif]-->
    </div>
</div>