<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="img/aboutUs.jpg" data-natural-width="1400" data-natural-height="400">
    <div id="subheader">
    	<div id="sub_content">
         <p></p>
        </div><!-- End sub_content -->
	</div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->

   

<!-- Content ================================================== -->
<div class="container margin_60_35">
	<div class="row">
		<div class="col-md-4">
			<h3  class="nomargin_top">موقع اطلبلي</h3>
			<p style="font-size:20px">
				اطلبلي هو موقع توصيل طعام عبر الانترنت حيث يقوم بربط الاف من المطاعم في منطقتك. يمكنك التصفح خلال عدد كبير من قوائم الطعام وطلب الطعام للتوصيل او للإستلام بأفضل الاسعار

في اطلبلي نحن نؤمن ان طلب الطعام لابد ان يكون بدون تعب، سريع وبالتأكيد مليء بالتسلية. مع عدد قليل من النقرات يمكنك ان تقوم بالطلب عبر الانترنت من مجموعة كبيرة من الاكلات المشهورة
			</p>
		
		</div>
		<div class="col-md-7 col-md-offset-1 text-right hidden-sm hidden-xs">
			<img src="img/devices.jpg" alt="" class="img-responsive">
		</div>
	</div><!-- End row -->
	<hr class="more_margin">
    <div class="main_title">
            <h2 class="nomargin_top">مواصفات موقع اطلبلي</h2>
           
        </div>
	<div class="row">
		<div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
			<div class="feature">
				<i class="icon_building"></i>
				<h3><span>+ 1000</span> مطعم</h3>
				<p>
					موقع اطلبلي يضم اكثر من الف مطعم في المنطقة, بحيث لابد ان تجد العديد من المطاعم القريبة منك لتطلب منها
				</p>
			</div>
		</div>
		<div class="col-md-6 wow fadeIn" data-wow-delay="0.2s">
			<div class="feature">
				<i class="icon_documents_alt"></i>
				<h3><span>+1000</span> قائمة طعام</h3>
				<p>
					ستجد العديد والكثير من قوائم الطعام المتنوعة في كل مطعم
				</p>
			</div>
		</div>
	</div><!-- End row -->
	<div class="row">
		<div class="col-md-6 wow fadeIn" data-wow-delay="0.3s">
			<div class="feature">
				<i class="icon_bag_alt"></i>
				<h3> خدمات <span> توصيل</span></h3>
				<p>
					 اغلب المطاعم توفر خدمة التوصيل المجاني للطلبات, لا مزيد من العناء في طلب الوجبة والوصول اليك بدقة
				</p>
			</div>
		</div>
		<div class="col-md-6 wow fadeIn" data-wow-delay="0.4s">
			<div class="feature">
				<i class="icon_mobile"></i>
				<h3> دعم <span>الجوال</span></h3>
				<p>
					يمكنك الوصول الى تطبيق اطلبلي عن طريق تطبيق الجوال اندرويد و ابل
				</p>
			</div>
		</div>
	</div><!-- End row -->
	<div class="row">
		<div class="col-md-6 wow fadeIn" data-wow-delay="0.5s">
			<div class="feature">
				<i class="icon_wallet"></i>
				<h3> امكانية الدفع <span>كاش</span></h3>
				<p>
					 يمكنك ان تدفع كاش عند وصول طلبك ورضائك عنه
				</p>
			</div>
		</div>
		<div class="col-md-6 wow fadeIn" data-wow-delay="0.6s">
			<div class="feature">
				<i class="icon_creditcard"></i>
				<h3> الدفع <span>عند الوصول</span></h3>
				<p>
					لا تقلق من عملية الدفع, فعد وصول طلبك اليك يمكنك ان تقوم بالدفع بالطريقة التي انت تحددها عند الطلب
				</p>
			</div>
		</div>
	</div><!-- End row -->
</div><!-- End container -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 nopadding features-intro-img">
			<div class="features-bg">
				<div class="features-img">
				</div>
			</div>
		</div>
		<div class="col-md-6 nopadding">
			<div class="features-content">
				<h3>"الطلب من الانترنت افضل من الهاتف"</h3>
				<p>
					الطلب عبر الانترنت له فوائد كثيرة مقارنة بالطلب عبر الهاتف
نحن نقدم قائمة ضخمة من المطاعم ولدينا قوائم الطعام الخاصة بهم حتى لا تضطر جمع القوائم من كل مطعم او الطلب من مطعم واحد فقط. يمكنك استكشاف مطاعم جديدة بمذاق مختلف
				</p>
				<p>
					 لديك كل الوقت الذي تريد لكي تقرر ما تريد ان تأكل اليوم، بدلاً من لاستماع الى شخص يقوم بقرائة قائمة الطعام بالكامل لكي تقوم باتخاذ قرار في الحال
                     نحن نساعدك في الاختيار ايضاً عبر عرض تقييمات العملاء للمطعم
				</p>
			</div>
		</div>
	</div>
</div><!-- End container-fluid  -->
<!-- End Content =============================================== -->

<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/common_scripts_min.js"></script>