﻿<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400"
    data-natural-height="350">
    <div id="subheader">
        <div id="sub_content">
            <h1><span translate="UserManagement.WelcomeToNewUser"></span></h1>
            <div><span translate="UserManagement.YouCanRegisterWithUsFree"></span></div>
        </div>
        <!-- End sub_content -->
    </div>
    <!-- End subheader -->
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="main" translate="Position.MainPage"></a></li>
            <li><a href="" translate="Position.Login"> </a></li>
        </ul>
    </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
    <div class="row">
        <div class="col-md-3">
            <div class="box_style_2 hidden-xs info">
                <h4 class="nomargin_top" ><span translate="GeneralMessages.OtlobleeFreeServices"></span>   <i class="icon_clock_alt pull-right"></i></h4>
                <p translate="GeneralMessages.OtlobleeFreeServices">
                </p>
                <hr>
                <h4><span translate="GeneralMessages.MobileApplication"> </span><i class="icon-mobile pull-right"></i></h4>
                <p >
                    <span translate="GeneralMessages.MobileApplicationMsg"></span>
                    <div class="row" style="text-align:center">
                        <a href="" style="color:black;font-size:40px"><i class="icon-android-1 "></i></a>
                        <a href="" style="color:black;font-size:40px"><i class="icon-apple"></i></a>
                    </div>
                </p>

            </div>
            <!-- End box_style_2 -->

            <div class="box_style_2 hidden-xs" id="help">
                <i class="icon_lifesaver"></i>
                <h4>Need <span>Help?</span></h4>
                <a href="tel://004542344599" class="phone">+45 423 445 99</a>
                <small>Monday to Friday 9.00am - 7.30pm</small>
            </div>
        </div>
        <!-- End col-md-3 -->
        <div class="col-md-6">
            <div class="box_style_2" id="order_process">
                <form ng-submit="vm.submit(vm.user)">
                    <h2 class="inner" translate="UserManagement.LoginPage"></h2>

                    <div class="form-group">
                        <label translate="UserManagement.UserName"></label>
                        <input ng-model="vm.user.userName" type="text" class="form-control" id="userName_order" name="userName_order" required>
                    </div>
                    <div class="form-group">
                        <label translate="UserManagement.Password"> </label>
                        <input ng-model="vm.user.password" type="password" class="form-control" id="password_order" name="password_order" required>
                    </div>

                    <div class="row">
                    </div>
                    <hr>
                    <button type="submit" class="btn_full" > <span style="font-size:20px" translate="UserManagement.Login">دخول</span></button>
                </form>
            </div>
            <!-- End box_style_1 -->
        </div>
        <!-- End col-md-6 -->

        <div data-ng-show="vm.addingInProcess" class="col-md-6">
            <div class="box_style_2" id="order_process">

            </div>
            <!-- End box_style_1 -->
        </div>
        <!-- End col-md-6 -->

        <div class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
                <div id="cart_box">
                    <hr>
                    <a class="btn_full" translate="UserManagement.NewUser" ui-sref='userManagment'>  مستخدم جديد  </a>
                </div>
                <!-- End cart_box -->



            </div>
            <!-- End theiaStickySidebar -->
        </div>
        <!-- End col-md-3 -->

    </div>
    <!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->


<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/common_scripts_min.js"></script>