﻿
<style>
    #subheader {
        height: 350px !important;
    }

    .parallax-window {
        min-height: 350px !important;
    }
   
</style>
<!-- SubHeader =============================================== -->
<section class="parallax-window" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400" data-natural-height="350">
    <div ng-cloak id="subheader">
        <div id="sub_content">
            <div id="thumb"><img src="{{'data:image/png;base64,'+vm.restaurantInfo.logo}}" alt=""></div>
            <div class="rating"> <ng-rate-it  step="1" read-only="true" ng-model="vm.restaurantInfo.rate"></ng-rate-it></div>
            <h1>{{vm.restaurantInfo.name}}</h1>
            <div><em>{{vm.restaurantInfo.restaurantType}} / {{vm.restaurantInfo.foodType}}</em></div>
            <div><i class="icon_pin"></i> {{vm.restaurantInfo.fullAddress}} - <strong translate="Restaurnts.Menu.DeliveryPrice">سعر التوصيل:</strong> {{vm.restaurantInfo.deliveryFees}}, <span translate="Restaurnts.Menu.FreeDeliveryIfTheBillIsHigherThan">التوصيل مجاني اذا كانت الفاتورة اعلى من</span>  {{vm.restaurantInfo.minAmountForFreeDelivery}}.</div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->
<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref='main' href="" translate="Position.MainPage">الصفحة الرئيسية</a></li>
            <li><a  href="" translate="Position.Restaurants">المطاعم</a></li>
            <li translate="Position.Menu">مينيو المطعم</li>
        </ul>
    </div>
</div><!-- Position -->
<!-- Content ================================================== -->
<div class="container margin_60_35" ng-cloak>
    <div class="row">

        <div class="col-md-3">
            <p><a href="" class="btn_side" ui-sref="restaurants"  translate="Restaurnts.Menu.BackToRestaurants">العودة الى المطاعم</a></p>
            <div class="box_style_1">
                <ul id="cat_nav">
                    <li  ng-cloak ng-repeat="menu in vm.restaurantInfo.menus"><a>{{menu.name}} <span>({{menu.meals.length}})</span></a></li>
                </ul>
            </div><!-- End box_style_1 -->
        </div><!-- End col-md-3 -->

        <div class="col-md-6">
            <div class="box_style_2" id="main_menu">
                <h2 class="inner"  translate="Restaurnts.Menu.RestaurantMenu">قائمة المطعم</h2>
                <div ng-repeat="menuItem in vm.restaurantInfo.menus">
                    <h3  class="nomargin_top" id="starters">{{menuItem.name}}</h3>
                    <p>
                        {{menuItem.categoryName}}
                    </p>
                    <table class="table table-striped cart-list">
                        <thead>
                            <tr>
                                 <th>
                                </th>
                                <th  translate="Restaurnts.Menu.Name">
                                    الاسم
                                </th>
                                <th  translate="Restaurnts.Menu.Price">
                                    السعر
                                </th>
                                <th  translate="Restaurnts.Menu.Add">
                                    طلب
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="meal.isActive" ng-repeat="meal in menuItem.meals">
                                <td><img style="max-width:110px;max-height:110px" src="{{meal.image}}" /></td>
                                <td style="width:350px">
                                    <h5>{{meal.name}}</h5>
                                    <p>
                                        {{meal.description}}
                                    </p>
                                </td>
                                <td>
                                    <strong>    {{meal.price}} {{vm.restaurantInfo.currency}}  </strong>
                                </td>
                                <td class="options">
                                    <a href="" ng-click="vm.addToOrders(meal)"><i class="icon_plus_alt2"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                </div>
            </div><!-- End box_style_1 -->
        </div><!-- End col-md-6 -->

        <div ng-show="vm.bill.subTotal>0" class="col-md-3" id="sidebar">
            <div class="theiaStickySidebar">
                <div id="cart_box">
                    <h3 ><span  translate="Restaurnts.Menu.YourOrder"></span>  <i class="icon_cart_alt pull-right"></i></h3>
                    <table class="table table_summary">
                        <tbody>
                            <tr ng-repeat="order in vm.bill.orders">
                                <td>
                                    <a href="" ng-click="vm.removeOrder(order)" class="remove_item"><i class="icon_minus_alt"></i></a> <strong>{{order.count}}x</strong> {{order.nameArabic}}
                                </td>
                                <td>
                                    <strong class="pull-right">{{vm.restaurantInfo.currency}}{{order.price}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table class="table table_summary">
                        <tbody>
                            <tr>
                                <td>
                                    <span  translate="Restaurnts.Menu.Subtotal">قيمة طلبك</span><span class="pull-right">  {{vm.restaurantInfo.currency}}  {{vm.bill.subTotal}}  </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span  translate="Restaurnts.Menu.DeliveryPrice">سعر التوصيل</span> <span class="pull-right">  {{vm.restaurantInfo.currency}}  {{vm.bill.deliveryFees}}  </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="total">
                                    <span  translate="Restaurnts.Menu.Total">المجموع الكلي</span><span class="pull-right">  {{vm.restaurantInfo.currency}}  {{vm.bill.total}}  </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <a class="btn_full" ui-sref='restaurants.userInformation'  translate="Restaurnts.Menu.ContinueOrder">اطلب الان</a>
                </div><!-- End cart_box -->
            </div><!-- End theiaStickySidebar -->
        </div><!-- End col-md-3 -->

    </div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->
<script src="js/jquery-1.11.2.min.js"></script>


<script src="js/common_scripts_min.js"></script>

<script src="js/theia-sticky-sidebar.js"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>