<div class="col-md-9">
  <div class="box_style_2" id="order_process">
    <h2 class="inner" translate="Profile.MyOrders">طلباتي </h2>
    <div class=" table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th translate="Profile.ReferanceCode">الرقم المرجعي </th>
            <th translate="Profile.Order">طلبك </th>
            <th translate="Profile.TotalBill">قيمة الفاتورة </th>
            <th translate="Profile.RestaurantName">اسم المطعم</th>
            <th translate="Profile.OrderTime">وقت الطلب</th>
            <th translate="Profile.ConfirmedTime">وقت قبول الطلب </th>
            <th translate="Profile.Address">العنوان </th>
            <th translate="Profile.PaymentType">نوع الدفع </th>
            <th translate="Profile.OrderState"> حالة الطلب</th>
            <th translate="Profile.Raiting" style="width:40px">تقييم </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.items">
            <td>{{item.referenceNumber}}</td>
            <td> <b ng-repeat="order in item.orderDetails">{{order.name}}{{$last ? '' : ', '}}</b></td>
            <td>{{item.totalPrice}}</td>
            <td>{{item.restaurantName}}</td>

            <td>{{item.createdDateTime | date:'yyyy-MM-dd HH:mm '}}</td>
            <td>{{item.confirmDateTime | date:'yyyy-MM-dd HH:mm'}}</td>
            <td>{{item.fullAddress}}</td>
            <td> 
              <b ng-show="item.paymentType == 'AtmCard'" translate="General.AtmCard"></b>
              <b ng-show="item.paymentType == 'Cash'" translate="General.Cash"></b>
            </td>
            <td>
              <b ng-show="item.state == 'Created'" translate="State.Created"></b>
              <b ng-show="item.state == 'Confirmed'" translate="State.Confirmed"></b>
              <b ng-show="item.state == 'ReceivedByCustomer'" translate="State.ReceivedByCustomer"></b>
              <b ng-show="item.state == 'Canceled'" translate="State.Canceled"></b>


            </td>
            <td>
               <a ng-if='item.state=="Confirmed"' href="" ng-click="vm.rating(item.id)" ><span translate="Profile.Rating"> </span></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <hr>
    <div class="row">
    </div>

  </div>
  <!-- End box_style_1 -->
</div>
<!-- End col-md-6 -->