<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400"
	data-natural-height="350">
	<div id="subheader">
		<div id="sub_content">
			<h1 <span translate="Restaurnts.DeliveryTheMeal">
				</span>> ارسال الطلب</h1>
			<div class="bs-wizard">
				<div class="col-xs-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum"><strong>1.</strong> <span translate="Restaurnts.Information"></span></div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="" class="bs-wizard-dot"></a>
				</div>

				<div class="col-xs-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum"><strong>2.</strong> <span translate="Restaurnts.PaymentMethod"></span></div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="" class="bs-wizard-dot"></a>
				</div>

				<div class="col-xs-4 bs-wizard-step complete">
					<div class="text-center bs-wizard-stepnum"><strong>3.</strong> <span translate="Restaurnts.DeliveryTheMeal"></span></div>
					<div class="progress">
						<div class="progress-bar"></div>
					</div>
					<a href="" class="bs-wizard-dot"></a>
				</div>
			</div>
			<!-- End bs-wizard -->
		</div>
		<!-- End sub_content -->
	</div>
	<!-- End subheader -->
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
	<div class="container">
		<ul>
			<li><a ui-sref='main' href="" translate="Position.MainPage">الصفحة الرئيسية</a></li>
			<li><a href="" translate="Position.Restaurants">المطاعم</a></li>
		</ul>
	</div>
</div>
<!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="box_style_2">
				<h2 class="inner" translate="Restaurnts.OrderHasSent.OrderHasSent">تم ارسال الطلب بنجاح!</h2>
				<div id="confirm">
					<i class="icon_check_alt2"></i>
					<h3 translate="Restaurnts.OrderHasSent.ThankYou">شكرا لك!</h3>
					<p translate="Restaurnts.OrderHasSent.OrderHasSentComment" >
						لقد تم ارسال طلبك بنجاح, يرجى مراقبة طلبك حتى يتم التأكيد عليه من المطعم.
					</p>
				</div>
				<h4  translate="Restaurnts.Menu.YourOrder">الطلب</h4>
				<table class="table table-striped nomargin">
					<tbody>
						<tr ng-repeat="order in vm.bill.orders">
							<td>
								<strong>{{order.count}}x</strong> {{order.name}}
							</td>
							<td>
								<strong class="pull-right">{{vm.bill.currency}} {{order.price}}</strong>
							</td>
						</tr>

						<tr>
							<td translate="Restaurnts.Menu.DeliveryProcess">
								نظام التوصيل
								<a href="#" class="tooltip-1" data-placement="top" title="" data-original-title="يرجى الاخذ بالاعتبار تاخير بقدر 15 - 30 دقيقة عن الوقت المتوقع ليصل طلبك"><i class="icon_question_alt"></i></a>
							</td>
							<td>
								<strong class="pull-right">{{vm.bill.createdDateTime}}</strong>
							</td>
						</tr>
						<tr>
							<td class="total_confirm" translate="Restaurnts.Menu.Total">
								المجموع
							</td>
							<td class="total_confirm">
								<span class="pull-right">{{vm.bill.currency}} {{vm.bill.total}}</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->
<script src="js/jquery-1.11.2.min.js"></script>


<script src="js/common_scripts_min.js"></script>