﻿
<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400" data-natural-height="350">
         <div id="subheader">
        <div id="sub_content">
            <h1><span translate="UserManagement.WelcomeToNewUser"></span></h1>
            <div><span translate="UserManagement.YouCanRegisterWithUsFree"></span></div>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End SubHeader ============================================ -->
 <div id="position">
    <div class="container">
        <ul>
           	<li><a ui-sref='main' href="" translate="Position.MainPage"> </a></li>
			<li><a href="" translate="Position.NewUser"></a></li>
        </ul>
    </div>
</div><!-- Position -->
    
<!-- Content ================================================== -->
<div class="container margin_60_35">
		<div class="row">
			<div class="col-md-3">
				   <div class="box_style_2 hidden-xs info">
                <h4 class="nomargin_top" ><span translate="GeneralMessages.OtlobleeFreeServices"></span>   <i class="icon_clock_alt pull-right"></i></h4>
                <p translate="GeneralMessages.OtlobleeFreeServices">
                </p>
                <hr>
                <h4><span translate="GeneralMessages.MobileApplication"> </span><i class="icon-mobile pull-right"></i></h4>
                <p >
                    <span translate="GeneralMessages.MobileApplicationMsg"></span>
                    <div class="row" style="text-align:center">
                        <a href="" style="color:black;font-size:40px"><i class="icon-android-1 "></i></a>
                        <a href="" style="color:black;font-size:40px"><i class="icon-apple"></i></a>
                    </div>
                </p>

            </div><!-- End box_style_2 -->
                
				<div class="box_style_2 hidden-xs" id="help">
					<i class="icon_lifesaver"></i>
					<h4>Need <span>Help?</span></h4>
					<a href="tel://004542344599" class="phone">+45 423 445 99</a>
					<small>Monday to Friday 9.00am - 7.30pm</small>
				</div>
			</div><!-- End col-md-3 -->
<div  ui-view='subContent'>
		<div data-ng-show="vm.addUserForm" class="col-md-6">
				<div class="box_style_2" id="order_process">
                    <form ng-submit="vm.submit(newUser)">
                        <h2 class="inner" translate="UserManagement.AddNewUser"></h2>

                        <div class="form-group">
                            <label translate="UserManagement.UserName">اسم المستخدم</label>
                            <input ng-model="newUser.userName" type="text" class="form-control" id="userName_order" name="userName_order"  placeholder="{{ 'UserManagement.UserName' | translate }}" required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.FirstName">الاسم الاول</label>
                            <input ng-model="newUser.firstName" type="text" class="form-control" id="firstname_order" name="firstname_order" placeholder="{{ 'UserManagement.FirstName' | translate }}"  required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.Surname">الكنية</label>
                            <input ng-model="newUser.lastName" type="text" class="form-control" id="lastname_order" name="lastname_order" placeholder="{{ 'UserManagement.Surname' | translate }}"  required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.Mobile"> رقم الجوال</label>
                            <input ng-model="newUser.phoneNumber" type="text" id="tel_order" name="tel_order" class="form-control" placeholder="00962XXXXXXXXX"  required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.Email">البريد الالكتروني</label>
                            <input ng-model="newUser.email" type="email" id="email_booking_2" name="email_order" class="form-control" placeholder="{{ 'UserManagement.Email' | translate }}"  required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.Password"></label>
                            <input ng-model="newUser.password" type="password" id="address_order" name="address_order" class="form-control" placeholder="{{ 'UserManagement.Password' | translate }}"  required>
                        </div>
                        <div class="form-group">
                            <label translate="UserManagement.ConfirmPassword">عنوانك الكامل</label>
                            <input ng-model="newUser.confirmPassword" type="password" id="address_order" name="address_order" class="form-control" placeholder="{{ 'UserManagement.ConfirmPassword' | translate }}"  required>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label translate="UserManagement.Address"></label>
                                <textarea ng-model="newUser.address" class="form-control" style="height:150px" placeholder="{{ 'UserManagement.Address' | translate }}"  name="address_order" id="address_order"></textarea>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                        <hr>
                        <button type="submit" class="btn_full" ng-click="vm.sentOrder()">	<i class="icon-ok-outline"></i>  <span translate="UserManagement.SignUp"></span></button>
                    </form>
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->
</div>

            <div data-ng-show="vm.addingInProcess" class="col-md-6">
				<div class="box_style_2" id="order_process">
                    
				</div><!-- End box_style_1 -->
			</div><!-- End col-md-6 -->
            
		<div allowed='public' class="col-md-3" id="sidebar">
            	<div class="theiaStickySidebar">
			<div id="cart_box">
                    <hr>
                 <a class="btn_full" ui-sref='loginApp' translate="UserManagement.Login">تسجيل دخول  </a>
                </div> <!-- End cart_box -->

					
				
                </div><!-- End theiaStickySidebar -->
			</div><!-- End col-md-3 -->
            
		</div><!-- End row -->
</div><!-- End container -->
<!-- End Content =============================================== -->


<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/common_scripts_min.js"></script>