<!-- SubHeader =============================================== -->
<section class="parallax-window" id="short" data-parallax="scroll" data-image-src="../../../img/thumb.php.jpg" data-natural-width="1400"
  data-natural-height="350">
  <div id="subheader">
    <div id="sub_content">
      <h1 translate="Profile.Welcome">اهلا بك في موقع اطلبلي</h1>
      <p translate="Profile.WelcomeComment">يمكنك استعراض معلوماتك الشخصية وتعديلها, ايضا يمكن مراقبة طلبك من هنا</p>
    </div>
    <!-- End sub_content -->
  </div>
  <!-- End subheader -->
</section>
<!-- End section -->
<!-- End SubHeader ============================================ -->

<div id="position">
    <div class="container">
        <ul>
            <li><a ui-sref="main" translate="Position.MainPage"></a></li>
            <li><a href="" translate="Position.MyProfile"> </a></li>
        </ul>
    </div>
</div><!-- Position -->

<!-- Content ================================================== -->
<div class="container margin_60_35">
  <div class="row">

    <div class="col-md-3" id="sidebar">
      <div class="theiaStickySidebar">
        <div class="box_style_1" id="faq_box">
          <ul style="font-size:17px" id="cat_nav">
            <li><a href="" ui-sref="profile.myInfo" ui-sref-active="active" translate="Profile.MyInfo">معلوماتي</a></li>
            <li><a href="" ui-sref="profile.myAddress" ui-sref-active="active" translate="Profile.MyAddress">عنواني</a></li>
            <li><a href="" ui-sref="profile.lastOrders" ui-sref-active="active" translate="Profile.MyOrders">طلباتي</a></li>
          </ul>
        </div>
        <!-- End box_style_1 -->
      </div>
      <!-- End theiaStickySidebar -->
    </div>
    <!-- End col-md-3 -->

    <div ui-view='subContent'></div>
  </div>
  <!-- End row -->
</div>
<!-- End container -->
<!-- End Content =============================================== -->

<!-- COMMON SCRIPTS -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/common_scripts_min.js"></script>

<!-- SPECIFIC SCRIPTS -->
<script src="js/theia-sticky-sidebar.js"></script>
<script>
    jQuery('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
</script>
