﻿ @import 'https://fonts.googleapis.com/css?family=Changa';

body {
    direction: rtl;
}
.arabic-floatr {
float:right;

}
.arabic-floatl {
text-align:left!important;

}
#count ul li{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    margin-right: 10px;
    padding-right: 10px;
	
	  margin-left: auto;
    padding-left: auto;
}

#count ul li {
    background: rgba(0, 0, 0, 0) url("../img/dots_vert.png") no-repeat scroll right center;
    display: inline-block;
    margin: 0 10px;
    padding-left: 20px;
    text-align: center;
}
#count .number {
   
     margin-right: auto;
    margin-left: 5px;

}
.high_light a {
	
	left:15px;
	right:auto;
}

 .table_summary td span{
        float:right;
        margin-left:20px;
    }
ul#cat_nav li a::after {
 content: "";

}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}

ul.opening_list li span{

    float: left;
}


#tools .styled-select {
 background: rgba(0, 0, 0, 0) url("../img/arrow_down.svg") no-repeat scroll left center;
}

.bs-wizard > .bs-wizard-step:first-child  > .progress{
left:auto;
    right:50%
}

*{
    font-family: 'Changa', sans-serif;
   }

   h1,h2,h3,h4,h5,span,a,button{
font-family: 'Changa', sans-serif!important;
   }
