﻿<!-- SubHeader =============================================== -->
<section class="header-video">
    <ui-gmap-google-map center='vm.map2.center' zoom='8'></ui-gmap-google-map>
    <div id="hero_video">
        <div id="sub_content">
              <h1 style="margin-top:0px;" translate="MainPage.Otloblee"></h1>
            <h1 style="margin-top:0px;" translate="MainPage.OrderTakeawayorDeliveryFood">Order Takeaway or Delivery Food</h1>
            <p translate="MainPage.SearchNotes">

            </p>
                <div id="custom-search-input">
                    <div class="input-group">
                        <button ng-click="vm.getLocation()" translate="MainPage.SearchButton" class="search-query"></button>
                    </div>
                </div>
          
        </div><!-- End sub_content -->
    </div>
    <img src="img/video_fix.png" alt="" class="header-video--media" data-video-src="video/intro" data-teaser-source="video/intro" data-provider="Vimeo" data-video-width="1920" data-video-height="960">
    <div id="count" class="hidden-xs">
        <ul>
            <li><span class="number">2650</span> <span translate="MainPage.Restaurant">Restaurant</span></li>
            <li><span class="number">5350</span><span translate="MainPage.PeopleServed"> People Served</span></li>
            <li><span class="number">12350</span><span translate="MainPage.RegisteredUsers"> Registered Users</span></li>
        </ul>
    </div>
</section><!-- End Header video -->
<!-- End SubHeader ============================================ -->
<!-- Content ================================================== -->
<div class="container margin_60">
    <div class="main_title">
        <h2 class="nomargin_top" style="padding-top:0" translate="MainPage.HowItWorks"></h2>
        <p translate="MainPage.HowItWorksComment">
        </p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="box_home" id="one">
                <span>1</span>
                <h3 translate="MainPage.SearchByAddress">Search by address</h3>
                <p translate="MainPage.SearchByAddressComment">
                    Find all restaurants available in your zone.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="two">
                <span>2</span>
                <h3 translate="MainPage.ChooseARestaurant">Choose a restaurant</h3>
                <p translate="MainPage.ChooseARestaurantComment">
                    We have more than 1000s of menus online.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="three">
                <span>3</span>
                <h3 translate="MainPage.RegisterAndKnowYou">Pay by card or cash</h3>
                <p translate="MainPage.RegisterAndKnowYouComment">
                    It's quick, easy and totally secure.
                </p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="box_home" id="four">
                <span>4</span>
                <h3 translate="MainPage.Delivery">Delivery or takeaway</h3>
                <p translate="MainPage.DeliveryComment">

                </p>
            </div>
        </div>
    </div><!-- End row -->

    <div id="delivery_time" class="hidden-xs">
        <strong><span>00</span><span>30</span></strong>
        <h4 translate="MainPage.TheMinutesThatUsuallyTakes">The minutes that usually takes to deliver!</h4>
    </div>
</div><!-- End container -->

<div class="white_bg">
    <div class="container margin_60">

        <div class="main_title">
            <h2 class="nomargin_top" translate="MainPage.ChooseFromMostPopular">Choose from Most Popular</h2>
            <p translate="MainPage.ChooseFromMostPopularComment">
            </p>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div ng-repeat="restaurant in vm.getTopRated" class="col-md-6">
                <a   href="" class="strip_list">
                    <div class="ribbon_1">اعلى تقييم</div>
                   <!-- End desc-->
                     <div class="desc">
                           <div class="thumb_strip">
                           <img src="{{restaurant.logoImg}}" alt="">
                        </div>
                            <div class="rating">
                                <ng-rate-it step="1" read-only="true" ng-model="restaurant.rate"></ng-rate-it>
                            </div>
                            <h3>{{restaurant.name}}</h3>
                            <div class="type">
                                {{restaurant.foodType}} / {{restaurant.restaurantType}}
                            </div>
                            <div class="location">
                                {{restaurant.fullAddress}} <span class="opening"  translate="Restaurnts.StartWorkAt">   </span>{{restaurant.startWorkTime}}. <span  translate="Restaurnts.LessValue"></span>            : {{restaurant.currency +' '+restaurant.minAmountForFreeDelivery}}
                            </div>
                            <ul>
                                <li ng-show='restaurant.isOpen' > <span translate="Restaurnts.RestaurantIsOpen"></span> <i class="icon_check_alt2 ok"></i></li>
                                <li ng-show='!restaurant.isOpen'>  <span translate="Restaurnts.RestaurantIsClose"></span> <i class="icon_check_alt2 no"></i></li>
                            </ul>
                        </div>
                </a><!-- End strip_list-->
            </div>
             
                
            </div><!-- End col-md-6-->
            
        </div><!-- End row -->

    </div><!-- End container -->
</div><!-- End white_bg -->

<div class="high_light">
    <div class="container">
        <h3 translate="MainPage.ChooseFromOverRestaurants">Choose from over 2,000 Restaurants</h3>
        <p translate="MainPage.ChooseFromOverRestaurantsComment">Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.</p>
        <a ng-click="vm.getLocation()" translate="MainPage.ViewAllRestaurants">View all Restaurants</a>
    </div><!-- End container -->
</div><!-- End hight_light -->

<section class="parallax-window" data-parallax="scroll" data-image-src="img/mainpage.jpg" data-natural-width="1200" data-natural-height="600">
    <div class="parallax-content">
        <div class="sub_content">
            <i class="icon_mug"></i>
            <h3 translate="MainPage.DeliveryToAnyWhere"></h3>
            <p translate="MainPage.DeliveryToAnyWhereComment">
                
            </p>
        </div><!-- End sub_content -->
    </div><!-- End subheader -->
</section><!-- End section -->
<!-- End Content =============================================== -->
<script src="js/jquery-1.11.2.min.js"></script>
<script src="js/common_scripts_min.js"></script>
<script src="js/video_header.js"></script>
<script>
    $(document).ready(function () {
        'use strict';
        HeaderVideo.init({
            container: $('.header-video'),
            header: $('.header-video--media'),
            videoTrigger: $("#video-trigger"),
            autoPlayVideo: true
        });

    });
</script>