﻿<div class="pmb-block">
    <div class="pmbb-header">
        <ul class="p-menu">
            <li><button ng-click="vm.addNewUser()" class="btn bgm-green waves-effect"><i class="zmdi  zmdi-plus"></i><span translate="اضافة كوبون جديد"></span></button></li>
        </ul>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th translate="Pages.Admin.Coupons.Code"></th>
                    <th translate="Pages.Admin.Coupons.Ammount"></th>
                    <th translate="Pages.Admin.Coupons.Count"></th>
                    <th translate="Pages.Admin.Coupons.Taken"></th>
                    <th translate="Pages.Admin.Coupons.ExpireDate"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button ng-click="vm.deleteUser(user.id)" tooltip-placement="top" uib-tooltip="{{ 'Remove' | translate }}"
                            class="btn bgm-amber waves-effect"><i class="zmdi zmdi-close "></i></button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>