﻿<div class="pmb-block">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-account-circle"></i> <span translate="SubscribingType">subscribing Type</span></h2>

        <ul class="actions" data-ng-if="vm.editContent === 0">
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a translate="Edit" data-ng-click="vm.showEdit('editContent')" href="">Edit</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="pmbb-body p-l-30">
        <div class="pmbb-view" data-ng-if="vm.editContent === 0">
            <dl class="dl-horizontal">
                <dt translate="FeesPaymentType">Fees Payment Type</dt>
                <dd>{{ vm.restaurantInfo.feesPaymentType }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Fees">Fees Amount</dt>
                <dd>{{ vm.restaurantInfo.fees }}</dd>
            </dl>

        </div>

        <form data-ng-submit="vm.submit('Subscribe', 'Subscribe Information')" class="pmbb-edit" data-ng-if="vm.editContent === 1">
            <dl class="dl-horizontal">
                <dt translate="FeesPaymentType" class="p-t-10">fees Payment Type</dt>
                <dd>
                    <div class="fg-line">
                        <select ng-model="vm.edit.feesPaymentType" class="w-100">
                            <option value="PerMeal">حساب على عدد الوجبات</option>
                            <option value="Monthly">اشتراك شهري</option>
                        </select>
                    </div>

                </dd>
            </dl>
            <dl class="dl-horizontal">
                <dt translate="Fees" class="p-t-10">Fees</dt>
                <dd>
                    <div class="fg-line">
                        <input data-ng-model="vm.edit.fees" type="number" class="form-control" placeholder="">
                    </div>
                </dd>
            </dl>

            <div class="m-t-30">
                <button translate="Save" class="btn btn-primary btn-sm" type="submit">Save</button>
                <button translate="Cancel" class="btn btn-link btn-sm" data-ng-click="vm.editContent = 0">Cancel</button>
            </div>
        </form>
    </div>
</div>
