﻿

    <div class="block-header">
        <h2> <span translate="Pages.Admin.UserManagement.UserManagement"><span></span><small><span translate="Pages.Admin.UserManagement.UserManagementMessage"></span> </small></h2>
    
    </div>



    <div class="card">
        <div class="card-header">
            <h2 translate="Pages.Admin.UserManagement.ViewWebsiteUsers">Restaurants Users <small translate="Pages.Admin.UserManagement.ViewWebsiteUsersMessage">you can edit and view the details for each user</small></h2>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table ng-table="vm.tableSorting" class="table table-striped table-vmiddle" show-filter="true">
                    <tr ng-repeat="w in $data">
                     
                        <td data-title="'Pages.Admin.UserManagement.UserName' | translate" sortable="'userName'" filter="{ 'userName': 'text' }">
                            {{ w.userName }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.FullName' | translate" sortable="'fullName'" filter="{ 'fullName': 'text' }">
                            {{ w.fullName }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.Email' | translate" sortable="'email'" filter="{ 'email': 'text' }">
                            {{ w.email }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.MobileNumber' | translate" sortable="'mobileNumber'" filter="{ 'mobileNumber': 'text' }">
                            {{ w.phoneNumber }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.CreatedDate' | translate" sortable="'joinDate'">
                            {{ w.joinDate }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.Status' | translate" sortable="'state'">
                            {{ w.status === true ? 'active': 'not active' }}
                        </td>
                        <td data-title="'Pages.Admin.UserManagement.Role' | translate" sortable="'roles'">
                            <select ng-model="w.role" ng-change="vm.changeRole(w.id,w.role)">
                                <option ng-selected="{{role.value == w.role}}"
                                        translate="{{role.value}}" ng-repeat="role in vm.roles"
                                        value="{{role.value}}"></option>
                            </select>

                        </td>
                        <!--<td  >
                            <button type="button" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>
                            <button ng-show="w.status" type="button" ng-click="vm.changeStatus(w.id,false)" class="btn btn-default"><i class="zmdi zmdi-block"></i></button>
                            <button ng-show="!w.status" type="button" ng-click="vm.changeStatus(w.id,true)" class="btn btn-default"><i class="zmdi zmdi-check"></i></button>
                            
                        </td>-->
                    </tr>
                </table>
            </div>
        </div>
    </div>

   

  

