﻿<header id="header" data-current-skin="blue" data-ng-include="'template/header.html'" data-ng-controller="headerController as hctrl"></header>
<aside id="sidebar" ng-controller="sideBarController as vm" data-ng-include="'app/layout/sideBar/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
