﻿<div class="ngdialog-titlebar">
    <h3 translate="AddExistUser" class="ngdialog-title">Add New User</h3>
</div>
<form data-ng-submit="vm.submit(dialog)">
    <div class="ngdialog-message">
        <div class="row">
            <div class="col-sm-10">
                <div class="form-group ">
                    <p translate="Email" class="c-black f-500 m-b-20"></p>
                    <div class="fg-line">
                        <input ng-model="dialog.email" type="email" class="form-control fg-input" required>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <p translate="Pages.Admin.UserManagement.Role" class="c-black f-500 m-b-20"></p>
                    <div class="fg-line">
                        <select ng-model="dialog.role" required>
                            <option translate="{{role.value}}" ng-repeat="role in vm.restaurantRoles"
                                    value="{{role.value}}"></option>
                        </select>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()" translate="Cancel">
            Close and open
        </button>
        <button type="submit" class="ngdialog-button ngdialog-button-primary" translate="Save"></button>

    </div>
</form>