﻿<div class="pmb-block">
   
    <div class="pmbb-header">
        <ul class="p-menu">
            <li class="active"><a href=""><i class="zmdi zmdi-pin"></i><span translate="RestaurantMap"></span> </a></li>

            <li class="m-r-5"></li>
            <li><button tooltip-placement="bottom" uib-tooltip="تحديد الموقع" ng-click="vm.getLocation()" class="btn bgm-amber btn-icon waves-effect waves-circle"><i class="zmdi  zmdi-my-location"></i> </button></li>
            <li><button tooltip-placement="bottom" uib-tooltip="حفظ" ng-click="vm.saveLocation()" class="btn bgm-amber btn-icon waves-effect waves-circle "><i class="zmdi zmdi-floppy zmdi-hc-fw"></i></button></li>
        </ul>
     
    </div>
    <div ng-hide="close" class="alert ng-isolate-scope alert-info alert-dismissible"  role="alert" type="info">
        <button type="button" class="close" ng-click="close= true">
            <span aria-hidden="true">×</span>
  
        </button>
        <div><span translate="ChangeRestaurantMapDescription" class="ng-binding ng-scope">You can move the marker to be exact at your resturant location</span></div>
    </div>
    <div  ng-hide="close || !vm.changedHappen" class="alert ng-isolate-scope alert-warning alert-dismissible " role="warning" type="warning">
        <button type="button" class="close" ng-click="close= true">
            <span aria-hidden="true">×</span>

        </button>
        <div><span translate="ChangeRestaurantMapEvent" class="ng-binding ng-scope">You can move the marker to be exact at your resturant location</span></div>

    </div>

    <marker class="pmbb-body p-l-30">
        <ui-gmap-google-map center='vm.map.center' zoom='vm.map.zoom'>
            <ui-gmap-marker coords="vm.marker.coords" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id">
            </ui-gmap-marker>

    </ui-gmap-google-map>
        </marker>
</div>

