<div >

    <div class="block-header">
        <h2>فاتورة <small>الفاتورة التفصيلية للطلب</small></h2>

       

    </div>
    
    <div class="card">
        <div class="card-header ch-alt text-center">
            <img class="i-logo" src="img/logo.png" alt="">
        </div>
        
        <div class="card-body card-padding">
            <div class="row m-b-25">
                <div class="col-xs-6">
                    <div class="text-right">
                        <p class="c-gray">المطعم</p>
                        
                        <h4>{{vm.restaurantInfo.name}}</h4>
                        
                        <span class="text-muted">
                            <address>
                               {{vm.restaurantInfo.fullAddress}}<br>
                               {{vm.restaurantInfo.country}}
                            </address>

                            {{vm.restaurantInfo.phoneNumber1}}<br/>
                            {{vm.restaurantInfo.email}}
                        </span>
                    </div>
                </div>
                
                <div class="col-xs-6">
                    <div class="i-to">
                        <p class="c-gray">الزبون</p>
                        
                        <h4>{{vm.orderInfo.firstName}} {{vm.orderInfo.lastName}}</h4>
                        
                        <span class="text-muted">
                            <address>
                                {{vm.orderInfo.deliveryAddress}}<br>
                                {{vm.restaurantInfo.country}}
                            </address>

                             {{vm.orderInfo.phoneNumber}}<br/>
                        
                        </span>
                    </div>
                </div>
                
            </div>
            
            <div class="clearfix"></div>
            
            <div class="row m-t-25 p-0 m-b-25">
                <div class="col-xs-3">
                    <div class="bgm-amber brd-2 p-15">
                        <div class="c-white m-b-5">الرقم المرجعي#</div>
                        <h2 class="m-0 c-white f-300">{{vm.orderInfo.referenceNumber}}</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-blue brd-2 p-15">
                        <div class="c-white m-b-5">التاريخ</div>
                        <h2 class="m-0 c-white f-300"> {{vm.orderInfo.createdDateTime | date:'yyyy-MM-dd'}}</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-green brd-2 p-15">
                        <div class="c-white m-b-5">سعر التوصيل</div>
                        <h2 class="m-0 c-white f-300"> {{vm.orderInfo.deliveryFees}} {{vm.restaurantInfo.currency}}</h2>
                    </div>
                </div>
                
                <div class="col-xs-3">
                    <div class="bgm-red brd-2 p-15">
                        <div class="c-white m-b-5">القيمة الكلية</div>
                        <h2 class="m-0 c-white f-300">  {{vm.orderInfo.totalPrice}}  {{vm.restaurantInfo.currency}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="clearfix"></div>
            
            <table class="table i-table m-t-25 m-b-25">
                <thead class="text-uppercase">
                    <th class="c-gray">اسم الوجبة</th>
                    <th class="c-gray">سعر الواحدة</th>
                    <th class="c-gray">الكمية</th>
                    <th class="highlight">المجموع</th>
                </thead>
                
                <tbody>
                    <thead>
                        <tr ng-repeat="item in vm.items">
                            <td width="50%">
                                <h5 class="text-uppercase f-400">{{item.name}}</h5>
                                <p class="text-muted">{{item.description}}</p>
                            </td>
                            
                            <td> {{item.price}} {{vm.restaurantInfo.currency}}</td>
                            <td>{{item.count}}</td>
                            <td class="highlight">{{item.price * item.count}} {{vm.restaurantInfo.currency}}</td>
                        </tr>
                        
                       
                        
                        
                      
                        <tr>
                            <td colspan="3"></td>
                            <td class="highlight"> {{vm.orderInfo.totalPrice}}  {{vm.restaurantInfo.currency}}</td>
                        </tr>
                    </thead> 
                </tbody>
            </table>
        </div>
        
        <footer class="m-t-15 p-20">
            <ul class="list-inline text-center list-unstyled">
                <li class="m-l-5 m-r-5"><small>support@otloblee.online</small></li>
                <li class="m-l-5 m-r-5"><small>00971 452 9900</small></li>
                <li class="m-l-5 m-r-5"><small>www.otloblee.online</small></li>
            </ul>
        </footer>
    </div>
    
</div>

<button style="left:30px;" class="btn btn-float bgm-red m-btn" print><i class="zmdi zmdi-print"></i></button>
