<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-about">Profile</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-timeline">Menu</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-photos">Photos</a></li>
<li class="btn-wave" data-ui-sref-active="active"><a data-ui-sref="pages.profile.profile-connections">Users</a></li>
