﻿<div class="sidebar-inner c-overflow">    
    <div class="profile-menu">
        <a href="" toggle-submenu>
            <div class="profile-pic">
                <img src="img/logo.png" alt="">
            </div>

            <div class="profile-info">
               {{vm.user.userName}}

                <i class="zmdi zmdi-caret-down"></i>
            </div>
        </a>
        <ul class="main-menu">
            <li>
                <a data-ui-sref="pages.profile.profile-about" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-account"></i><span translate="Slider.ViewProfile">ViewProfile</span> </a>
            </li>
            <li>
                <a ng-click="vm.logout()" href=""><i class="zmdi zmdi-time-restore"></i><span translate="Slider.Logout">logout</span>  </a>
            </li>
        </ul>
    </div>

    <ul class="main-menu">
        
        <li data-ui-sref-active="active">
            <a data-ui-sref="dashboard" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-home"></i><span translate="Slider.DashBoard">DashBoard</span> </a>
        </li>
        <li allowed="WebsiteAdmin" class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('headers') }">
            <a ui-serf="underConstraction" href="" toggle-submenu><i class="zmdi zmdi-view-compact"></i><span translate="Slider.WebsiteInformation">Website Information</span> </a>

        </li>
        <li allowed="WebsiteAdmin" data-ui-sref-active="active">
            <a data-ui-sref="underConstraction" data-ng-click="mactrl.sidebarStat($event)"><i class="zmdi zmdi-format-underlined"></i><span translate="Slider.Settings">Settings</span>  </a>
        </li>
        <li  class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('widgets') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-widgets"></i><span translate="Slider.UserManagement"></span></a>
            <ul>
                <li allowed="WebsiteAdmin"><a data-ui-sref-active="active" data-ui-sref="userManagment" data-ng-click="mactrl.sidebarStat($event)" translate="Slider.ViewAllUsers">View All Users</a></li>
                <li allowed="WebsiteAdmin"><a data-ui-sref-active="active" data-ui-sref="userManagment.addNewUser" data-ng-click="mactrl.sidebarStat($event)" translate="Slider.AddUser">View All Users</a></li>
          
               
              </ul>
        </li>
        
        <li class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('tables') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-view-list"></i> <span translate="Slider.RestaurantsManagement"></span></a>

            <ul>
                <li allowed="WebsiteAdmin"><a data-ui-sref-active="active" data-ui-sref="restaurants" data-ng-click="mactrl.sidebarStat($event)" translate="Slider.ViewAllRestaurants">عرض المطاعم</a></li>
                <li allowed="WebsiteManager"><a data-ui-sref-active="active" data-ui-sref="restaurants" data-ng-click="mactrl.sidebarStat($event)" translate="Slider.ViewResturantIAdded">عرض المطاعم التي قمت بإضفتها</a></li>
            </ul>
        </li>
        
        <li allowed="WebsiteAdmin" class="sub-menu" data-ng-class="{ 'active toggled': mactrl.$state.includes('form') }">
            <a href="" toggle-submenu><i class="zmdi zmdi-collection-text"></i><span translate="Slider.Reports"></span> </a>
            <ul>
                <li><a data-ui-sref-active="active" data-ui-sref="underConstraction" data-ng-click="mactrl.sidebarStat($event)">تقارير عن المطاعم</a></li>
                <li><a data-ui-sref-active="active" data-ui-sref="underConstraction" data-ng-click="mactrl.sidebarStat($event)">تقارير عن المستخدمين</a></li>

            </ul>
        </li>

        
    </ul>
</div>
