﻿<div class="pmb-block">
    <div class="pmbb-header">
        <ul class="p-menu">
            <li><button ng-click="vm.addRoleUser()" class="btn bgm-green waves-effect"><i class="zmdi  zmdi-plus"></i><span translate="AddExistUser"></span></button></li>
            <li><button ng-click="vm.addNewUser()" class="btn bgm-green waves-effect"><i class="zmdi  zmdi-plus"></i><span translate="AddNewUser"></span></button></li>
        </ul>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th translate="Pages.Admin.UserManagement.FullName"></th>
                    <th translate="Pages.Admin.UserManagement.UserName"></th>
                    <th translate="Pages.Admin.UserManagement.Email"></th>
                    <th translate="Pages.Admin.UserManagement.Role"></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users">
                    <td>{{user.fullName}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.roles[0]}}</td>
                    <td><button ng-click="vm.deleteUser(user.id)" tooltip-placement="top" uib-tooltip="{{ 'Remove' | translate }}"
                            class="btn bgm-amber waves-effect"><i class="zmdi zmdi-close "></i></button></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>