

    @import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css)
@import url(http://fonts.googleapis.com/earlyaccess/thabit.css);

      @import url(http://fonts.googleapis.com/earlyaccess/lateef.css);
        @import url(http://fonts.googleapis.com/earlyaccess/droidarabicnaskh.css);
.mdl-badge[data-badge]:after {
  right: auto;
  left: -24px; }


.mdl-layout__drawer {
  transform: translateX(250px);
  -webkit-transform: translateX(250px);
  left: auto;
  right: 0; }
  .mdl-layout__drawer .mdl-layout-title {
    padding-left: 0;
    padding-right: 40px; }

.mdl-layout__drawer-button {
  left: auto;
  right: 0; }

.mdl-layout--fixed-drawer:not(.is-small-screen) > .mdl-layout__header {
  margin-left: 0;
  margin-right: 240px; }
.mdl-layout__header > .mdl-layout-icon {
  left: auto;
  right: 80px; }
  @media screen and (max-width: 850px) {
    .mdl-layout__header > .mdl-layout-icon {
      left: auto;
      right: 16px; } }

.mdl-layout__header-row {
  padding: 0 80px 0 40px; }

.mdl-layout__obfuscator {
  left: auto;
  right: 0; }

.mdl-layout--fixed-drawer > .mdl-layout__content {
  margin-left: 0;
  margin-right: 240px; }
@media screen and (max-width: 850px) {
  .mdl-layout--fixed-drawer > .mdl-layout__content {
    margin-right: 0; } }

.mdl-layout__tab-bar {
  padding: 0 64px 0 0; }

.mdl-layout__container > .mdl-layout__tab-bar-container {
  top: 0;
  left: auto;
  right: 0; }

.mdl-layout__tab {
  float: right; }

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
  left: auto;
  right: 0; }
.mdl-layout__tab .mdl-layout__tab-ripple-container {
  left: auto;
  right: 0; }

.mdl-checkbox.is-upgraded {
  padding-left: 0;
  padding-right: 24px; }

.mdl-checkbox__box-outline {
  left: auto;
  right: 0; }

.mdl-checkbox__focus-helper {
  left: auto;
  right: 0; }

.mdl-checkbox__tick-outline {
  left: auto;
  right: 0; }

.mdl-checkbox__ripple-container {
  left: auto;
  right: -10px; }

td:first-of-type, th:first-of-type {
  padding-left: 0px;
  padding-right: 24px; }
td:last-of-type, th:last-of-type {
  padding-right: 0px;
  padding-left: 24px; }

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric {
  text-align: right; }

@media screen and (min-width: 760px) {
  .mdl-mega-footer--drop-down-section:nth-child(1),
  .mdl-mega-footer--drop-down-section:nth-child(2) {
    float: right; }

  .mdl-mega-footer--drop-down-section:nth-child(3) {
    float: left; }
    .mdl-mega-footer--drop-down-section:nth-child(3):after {
      clear: left; }

  .mdl-mega-footer--drop-down-section:nth-child(4) {
    clear: left;
    float: right; } }
@media screen and (min-width: 1024px) {
  .mdl-mega-footer--drop-down-section,
  .mdl-mega-footer--drop-down-section:nth-child(3),
  .mdl-mega-footer--drop-down-section:nth-child(4) {
    float: right; } }
.mdl-mega-footer--heading {
  padding-right: 0;
  padding-left: 39.8px; }

.mdl-mega-footer--bottom-section .mdl-mega-footer--link-list li {
  float: right;
  margin-right: 0;
  margin-left: 16px; }
/*   */

@media screen and (min-width: 760px) {
  .mdl-logo {
    float: right;
    margin-right: 0;
    margin-left: 16px; } }
.mdl-mini-footer--link-list li {
  margin-right: 0;
  margin-left: 16px; }

.mdl-menu__item {
  text-align: right; }

html, body {
	
  font-family: "Thabit", serif;
  font-size: 13px; }

body {
  direction: rtl; }

  
 .dl-horizontal dt {
    text-align: right;
}
.dl-horizontal dt {
    clear: right;
    float: right;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}



body.sw-toggled #content {
    padding-right: 268px!important;
	padding-left:0px;
}
.sub-menu > a::before, 
.sub-menu > a::after {
    backface-visibility: hidden;
    color: #575757;
    font-family: "Material-Design-Iconic-Font";
    font-size: 17px;
    left: 15px;
	right:0px;
    position: absolute;
    top: 12px;
    transition: all 250ms ease 0s;
}

.main-menu > li > a > i {
    font-size: 20px;
    padding: 13px 0;
    position: absolute;
    right: 16px;
    text-align: center;
    top: 0;
    width: 25px;
}
.main-menu > li > a {
    color: #4c4c4c;
    display: block;
    font-weight: 500;
    padding: 14px 40px 14px 52px;
    position: relative;
}

/*#profile-main .pm-overview {
    background: #f8f8f8 none repeat scroll 0 0;
    border-right: 1px solid #eee;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
  #profile-main .pmb-block .pmbb-header .actions {
     margin-right: -30px;
    right:0px;
    position: absolute;
    top: -2px;
}*/
  .angular-google-map-container { height: 400px; }
/*# sourceMappingURL=material-rtl.css.map */

.pt-line {
    left:auto;
    right: 0;
}
.pt-line::after {
    left: -26px;
    right:auto;
}
.pt-line::before {
    left: -20px;
    right:auto;

}
.pt-body {

    margin-right:30px;
}

.p-timeline [data-src] {
    float: right;
}

.t-view::before {
    right: -45px;
    left:auto;
    top:20px;
}
.t-view::after {
    right: -26px;
    left:auto;
    top:20px;

}

.t-view .tv-header .actions {
    left: 10px;
    right: auto;
    position: absolute;
    top: 5px;
}
th {
    text-align: right;
}
* {
   font-family:'Droid Arabic Naskh', serif;
}

.timeline {
    padding: 50px 50px 50px 10px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
}
.facebookBtn {
float:left;
}
#loading-bar {
  pointer-events: all;
  z-index: 999999999999;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  cursor: wait;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}

.top-menu > li .dropdown-menu-lg .lv-body {
    min-height: 100%;
}
.dropdown-menu {
    float: right;
    text-align: right;
}

html:not(.ie9) .select::before {
     background-image: none;
      background-color: none;
      width: 0px;

}
/*  */
@media (min-width: 768px) {
  .dl-horizontal dt {
    float: right;
    width: 160px;
    clear: right;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .dl-horizontal dd {
    margin-right: 180px;
  }
}

@media (min-width: 768px) {
  .pagination > li > a,
  .pagination > li > span {
    position: relative;
  }

  .pagination > li > a:before,
  .pagination > li > span:before {
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 50%;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .pagination > li > a:hover:before,
  .pagination > li > span:hover:before,
  .pagination > li > a.open:before,
  .pagination > li > span.open:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
@media (min-width: 768px) {
  .lightbox .lightbox-item {
    position: relative;
  }

  .lightbox .lightbox-item:before {
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0, 0, 0);
    -moz-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all;
    -o-transition: all;
    transition: all;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 0;
    border-radius: 0;
    opacity: 0;
    filter: alpha(opacity=0);
  }

  .lightbox .lightbox-item:hover:before,
  .lightbox .lightbox-item.open:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}


@media screen and (min-width: 768px) {
  .carousel .carousel-control .zmdi {
    font-size: 60px;
    width: 60px;
    height: 60px;
    margin-left: 0px; 

    margin-top: -30px;
    margin-right: -30px;
  }
}
@media screen and (max-width: 991px) {
  .carousel .carousel-control .zmdi {
    width: 24px;
    height: 24px;
    margin-top: -12px;
    margin-left: 0px; 
      margin-right: -12px;
  }
}
@media screen and (max-width: 1200px) {
 body.sw-toggled #content {
    padding-right: 0px!important;
	padding-left:0px;
}
}

#profile-main .pmb-block .pmbb-header .actions {
    left: 0;
    right:auto;
    position: absolute;
    top: -2px;
}