
			<div  class="box_style_2" id="order_process">
				<h2 class="inner" translate="Profile.YourOrder"> تقييم الطلب </h2>
                      <ng-rate-it  step="1" ng-model="vm.ratingValue"></ng-rate-it>
				<hr>
                <div class="form-group">
					<label translate="Profile.YourOpinian">رأيك </label>
					<textarea rows="3" ng-model="vm.ratingNote" type="text" id="address_order" name="address_order" class="form-control" ></textarea>
				</div>
               <button ng-click="vm.send()" class="btn_1 add_bottom_15" translate="Profile.Send"> ارسال </button>

			</div>
			<!-- End box_style_1 -->
      