﻿

<div class="block-header">
    <!-- <h2>Restaurants<small>Display all resturants in this page</small></h2>-->
    <h2>المطاعم<small>عرض جميع المطاعم المسجلة في الموقع</small></h2>

</div>

<div class="pmbb-header">
    <ul class="p-menu">


        <li><button ui-sref="restaurants.addNewRestaurant" class="btn bgm-green waves-effect"><i class="zmdi  zmdi-plus"></i><span translate="Pages.Admin.Restaurants.AddNewRestaurant"></span>  </button></li>

    </ul>

</div>


<div class="card">
    <div class="card-header">
        <!--    <h2>Restaurants Users <small>you can edit and view the details for each user</small></h2>-->
        <h2>المطاعم التي قمت باضافتها<small> يمكنك عرض وتعديل تفاصيل اي مطعم</small></h2>
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table ng-table="vm.tableSorting" class="table table-striped table-vmiddle" show-filter="true">
                <tr ng-repeat="w in $data">
                    <td data-title="'Pages.Admin.Restaurants.Name' | translate" sortable=" 'name' " filter="{ 'nameArabic': 'text' }">
                        {{ w.nameArabic }}
                    </td>
                    <td data-title="'Pages.Admin.Restaurants.Email' | translate" sortable=" 'email' " filter="{ 'email': 'text' }">
                        {{ w.email }}
                    </td>
                    <td data-title="'Pages.Admin.Restaurants.CreatedByUser' | translate" sortable=" 'createdByUser' " filter="{ 'createdByUser': 'text' }">
                        {{ w.createdByUser }}
                    </td>
                    <td data-title="'Pages.Admin.Restaurants.Country' | translate" sortable=" 'country' " filter="{ 'country': 'text' }">
                        {{ w.country }}
                    </td>
                    <td data-title="'Pages.Admin.Restaurants.FeesPaymentType' | translate" sortable=" 'feesPaymentType' " filter="{ 'feesPaymentType': 'text' }">
                        {{ w.feesPaymentType }}
                    </td>
                    <td data-title="'Pages.Admin.Restaurants.IsAvailable' | translate" sortable=" 'state' ">
                        {{ w.isAvailable === true ? 'مفعل': 'غير مفعل' }}
                    </td>
                    <td data-title="'Pages.Admin.Restaurants.IsSuspended' | translate" sortable=" 'isSuspended' ">
                        {{ w.isSuspended === false ? 'يعمل': 'متوقف' }}
                    </td>
                    <td>
                        <button type="button" data-ui-sref="restaurants.profile({resturantId:w.id})" class="btn btn-default"><i class="zmdi zmdi-edit"></i></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>





